// #############################################################################
// Modal Shim is used on page load until the underlying page is ready and when
// opening a modal dialog.
// #############################################################################
// colour for the modal dialog shim
$wc-ui-modal-shim-color: rgba(0, 0, 0, .85);
// TODO: maybe change this to a class rather than an ID now we do not have IE6
// performance to worry about?
// The modal shim is a single generated artefact with a constant id.
// sass-lint:disable no-ids

#wc-shim {
  @if $wc-ui-modal-shim-color != -1 {
    background-color: $wc-ui-modal-shim-color;
  }
  left: 0;
  min-height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $wc-z-index-modal-shim;
}
// sass-lint:enable no-ids
