{
	"env": {
		"browser": true,
		"amd": true
	},
	"extends": "eslint:recommended",
	"rules": {
		"no-console": 0,
		"no-shadow": 2,
		"brace-style": 2,
		"semi": [2, "always"],
		"space-before-blocks": [2, "always"],
		"spaced-comment": [2, "always"],
		"keyword-spacing": 2,
		"indent": [2, "tab", { "SwitchCase": 1 } ],
		"quotes": 0
	},
	"globals": {
		"KeyEvent": true,
		"Promise": true,
		"DataView": true
	}
}
