[this=$!{this}]
[this.someProperty=$!{this.someProperty}]
[uicontext=$!{uicontext}]
[uic=$!{uic}]
[children=$!{children}]
[childA=$!{childA}]
[childB=$!{childB}]
[childC=$!{childC}]
[velocityMapParam=$!{velocityMapParam}]
[test_list=$!{test_list}]
