//mixins.ie8.scss
//These are special mixins for a special browser
@import "mixins_common.scss";
//$icons: (
//	left: "\25c0",
//	right: "\25b6",
//	up: "\25b2",
//	down: "\25bc"
//);
//This is an ugly hack to work around unicode character issues in the build.
@mixin fourButtonIconContent($content) {
	@if ($content == left) {
		content: "\25c0";
	}
	@else if ($content == right) {
		content: "\25b6";
	}
	@else if ($content == up) {
		content: "\25b2";
	}
	@else if ($content == down) {
		content: "\25bc";
	}
}

@mixin fourIconButtons($className, $firstBorder, $lastBorder, $firstContent, $lastContent) {
	.#{$className} {
		&:before {
			@include border($pos: $firstBorder, $color: $wc_ui_color_globalForeground);
			@include fourButtonIconContent($firstContent);
			display: block;
			line-height: 1;
			@include useSymbolFont;
		}
		+ .#{$className} {
			&:before {
				border-#{$firstBorder}: 0 none;
			}
			+ .#{$className} {
				&:before {
					@include fourButtonIconContent($lastContent);
				}
				+ .#{$className}:before {
					@include border($pos: $lastBorder, $color: $wc_ui_color_globalForeground);
				}
			}
		}
		&[disabled]:before {
			border-color: $wc_ui_color_disabledForeground !important;
		}
	}
}