// Colour scheme for CSS
// : : : : : : : : : : : : : : : : : : : : :
// This file simply translates the colour scheme from ANT to less.
// These colours can then be used in component definitions.

$std_color_white: #fff;
$std_color_black: #000;

// The primary color is the root of the colour scheme and is generally used as a heading and link colour and can be used
// for significant panel decoration.
$std_color_primary: #45699f;
// The secondary colour is an accent color related to primary through the colour scheme mechanism.
$std_color_secondary: #880ce8;
// The tertiary colour is a background colour commonly used for shaded panels, secondary headings, menu bars etc.
$std_color_tertiary: #f3f3f3;

// Main colour accents are used as background/foreground combo (or vice versa) and must meet 4.5:1 contrast ratio with
// the main colour definitions above
$std_color_primary_accent: $std_color_white;
$std_color_secondary_accent:$std_color_white;
$std_color_tertiary_accent: $std_color_primary;

// Transient and specific purpose accents
// focus/hover backgrounds must
$std_color_invite_bg: #bbd6ff;
// The foreground must meet 4.5:1
$std_color_invite_fg: $std_color_black;
// Table row focus must be translucent with alpha no greater than 0.5.
$std_color_invite_bg_rgba: rgba(204, 229, 255, 0.5);
//
// Background highlighting accents (not focus/hover) such as zebra striping.
$std_color_highlight_bg: #f2f2f2;
// The foreground must meet 4.5:1;
$std_color_highlight_fg: $std_color_black;

// Line accents (usually borders)
$std_color_lines: #cccccc;

// An accent colour - usually a complement. Used in the calendar icon and warnings. This should really POP!
$std_color_accent: #cf4000;

// State indicators: should be analogous/triad/tetrad to primary
// Success
$std_color_success_fg: #060;
// High priority and error indicator/foreground/header/box
$std_color_error_fg: #af0000;
// Secondary colour used for background of inputs in an error state.
$std_color_error_bg: #ffbfbf;
// Warnings and medium priority
$std_color_warning_fg: $std_color_accent;
//
// What colour should shadows be? well it depends on what the shadow is being cast upon but we can use rgba because IE8
// doesn't support box-shadow anyway!
$std_color_shadow: rgba(0,0,0,0.25);
//
// and the modal shim?
$std_color_shim: rgba(0,0,0,0.75);