/* wc.common.form.ios.css */
@import "vars_all.scss";
input,
textarea,
select{
	border-color:#007aff;
	font-family: $iosFont;
	font-size: 17px;
}

input{
	height: 22px
}

input[type="checkbox"],
input[type="radio"]{
	border:0 none;
	height:auto
}
/* end wc.common.form.ios.css */