/* wc.common.listSort.mob.scss */
@import "mixins_common.scss";

.wc_sorter {
	@include border;
	padding: 6px;
	border-radius: 3px;
	&::before {
		width: 1.5em;
		height: 1.5em
	}
}
/* end of  wc.common.listSort.mob.scss */