/* wc.common.listSort.scss
 * the list sort controls are the buttons used to reorder the options
 * used by WMultiSelectPair and WShuffler
 */
@import "mixins_common.scss";

.wc_sortcont {
	display: inline-block;
	vertical-align: top
}

.wc_sorter {
	display: block;
	padding: 3px;
	&:before {
		content: url("../images/top.png");
		position: relative;
		top: 1px;
	}
	+ .wc_sorter {
		&:before {
			content: url("../images/up.png");
		}
		+ .wc_sorter {
			&:before {
				content: url("../images/down.png");
			}
			+ .wc_sorter:before {
				content: url("../images/bottom.png");
			}
		}
	}
	&[disabled] {
		&:before {
			content: url("../images/top-d.png");
		}
		+ .wc_sorter {
			&:before {
				content: url("../images/up-d.png");
			}
			+ .wc_sorter {
				&:before {
					content: url("../images/down-d.png");
				}
				+ .wc_sorter:before {
					content: url("../images/bottom-d.png");
				}
			}
		}
	}
}
/* end of  wc.common.listSort.scss */