/* variables used in accessKey indicators */
$wc_ui_color_tooltipForeground: ${std_color_primary};
$wc_ui_color_tooltipBackground: ${std_color_tertiary};
$wc_ui_color_tooltipBorder: ${std_color_lines};

@import "mixins_common.scss";
@mixin accesskeyBorder() {
	@include border($color: $wc_ui_color_tooltipBorder);
}