/* wc.ui.multiSelectPair.ie8.scss*/
@import "mixins_common.scss";

.wc_msp_btncol button{
	min-width: 1em;
	text-align: center;
	&:before{
		content: "\203a";
		display: inline-block;
		line-height: 1;
		font-size: 16px;
		padding: 0;
		vertical-align: baseline;
		@include useSymbolFont;
	}
	+ button:before {
		content: "\00bb";
	}
	+ button + button:before {
		content: "\2039";
	}
	+ button + button + button:before{
		content: "\00ab"
	}
}
/* end wc.ui.multiSelectPair.ie8.css*/