/* type CHROME
 * "A panel with a title displayed in a border."
 */
.chrome{
	border: 1px solid #007aff
}

.chrome > h1{
	background-color:transparent;
	font-size: 18px;
	font-weight: normal;
	color: #000;
	text-align:center;
	border-bottom: 1px solid #007aff
}
