/* wc.ui.panel.borderLayout.ie10.css */
.wc_borderLayout_middle{
	display:-ms-flexbox;
	-ms-flex-direction:row;
	-ms-flex-pack:justify;
	-ms-flex-align:start
}

.wc_borderLayout_middle > div{
	-ms-flex:1 1 25%
}

.wc_borderLayout_middle > .center{
	-ms-flex:1 1 50%
}
.wc_borderLayout_middle > .center:first-child,
.wc_borderLayout_middle > .center:last-child{
	-ms-flex:1 1 75%
}
/* end wc.ui.panel.borderLayout.ie10.css */