/*
 * wc.ui.menu,tree.icon.scss
 * tree menu branch indicators */
[role="treeitem"] {
	&[aria-expanded] {
		> button {
			background-image: url(../images/go-next-view.png);
			background-position: 0 50%;
			background-repeat: no-repeat;
			padding-left: 19px;
		}
	}
	&[aria-expanded="true"] {
		> button {
			background-image: url(../images/go-down-view.png)
		}
	}
}
/* END wc.ui.menu,tree.icon.scss */