/* wc.ui.menu.barColumn.ios.css */
[role="menu"] [aria-expanded] > button,
[role="menu"] [role],
[role="menubar"] [aria-expanded] > button,
[role="menubar"] [role] {
	font-size: 13px;
	color:#007aff;
}

.menu .closesubmenu{
	color:#ff3b30;
}

[role="menubar"].bar,
[role="menubar"].flyout{
	background-color:transparent;
	border: 1px solid #007aff;
}

[role="menubar"] > [aria-expanded] > button::after{
	width:auto;
	content:"\25bc" !important
}

[role="menubar"] [role="menu"]{
	box-shadow:none;
	background-color: #fff;
	color:#007aff;
}


[role="menubar"] [aria-expanded="true"] > button,
[role="menubar"] [aria-checked="true"],
[role="menu"] [aria-expanded="true"] > button,
[role="menu"] [aria-checked="true"]{
	background-color:#007aff;
	color: #fff;
}

/* end wc.ui.menu.barColumn.ios.css */