[role="banner"]{
	background-color: #f7f7f7;
	color:#000;
	border-bottom: 1px solid #a7a7aa;
	background-image:none
}

[role="banner"] .listLayout.flat{
	background-color:transparent;
	color: #000;
}

[role="banner"] .wc_btn_link,
[role="banner"] a{
	color: #007aff
}

[role="banner"] h1 {
	font-size: 18px;
	font-weight: bold;
	color: #000;
}