/* wc.ui.multiFormComponent.icons.ie8.scss */
.wc_mfc {
	button {
		&:before{
			content: url(../images/wc.ui.multiFormComponent.del.ie8.png);
			display: inline-block;
			vertical-align: bottom;
		}
		&[disabled]:before{
			content: url(../images/wc.ui.multiFormComponent.del.d.ie8.png);
		}
	}
	li:first-child button {
		&:before{
			content: url(../images/wc.ui.multiFormComponent.add.ie8.png);
		}
		&[disabled]:before{
			content: url(../images/wc.ui.multiFormComponent.add.d.ie8.png);
		}
	}
}
/* end wc.ui.multiFormComponent.icons.ie8.scss*/