/* wc.ui.table.rowSelection.css */
@import "wc.ui.table.rowSelection_vars.scss";

tr[aria-checked] {
	&:hover, &:focus {
		cursor: pointer;
		@include rowInvite;
	}
}

.wc_table_sel_wrapper::before {
	display: block;
	width: 1em;
	height: $lineSize;
	[role="radio"] > & {
		content: url(../images/radio.svg);
	}
	[role="radio"][aria-checked="true"] > & {
		content: url(../images/radio-s.svg);
	}
	[role="checkbox"] > & {
		content: url(../images/checkbox.svg);
	}
	[role="checkbox"][aria-checked="true"] > & {
		content: url(../images/checkbox-s.svg);
	}
	[aria-checked][aria-disabled="true"] > & {
		opacity: $disabledOpacity;
	}
}
/* end wc.ui.table.rowSelection.css */