/* wc.ui.dateField.ios.css */
#wc-calendar thead button { // TODO: I don't think we need this any more
	vertical-align: middle;
	background-image: none;
	width: 22px;
	border-radius: 0;
}
/* end wc.ui.dateField.ios.css */
