/* wc.ui.combo.scss */
@import "mixins_common.scss";

/* this redundant rule is not as redundant as you might think. */
datalist {
	display:none
}

input[role="combobox"]{
	background-image: url(../images/go-down-view.png);
	background-position: 100% 0;
	background-repeat: no-repeat;
	@include border;
	@include borderBox;
	padding-right: 17px;
	&[disabled] {
		background-image:url(../images/go-down-view-d.png);
	}
	~ [role="listbox"] {
		background-color: $wc_ui_color_globalBackground;
		@include border;
		display: block;
		list-style-type: none;
		margin: 0;
		max-width: 100%;
		padding: 0;
		position: absolute;
		&[aria-busy="true"] { /* we do not want dynamic suggestion lists to go transparent when busy */
			background-color: $wc_ui_color_globalBackground !important
		}
	}
}


li[role="option"]{
	margin: 0;
	min-height: 1em;
	padding: $hgap_small;
	&:hover, &:focus {
		background-color: $wc_ui_color_invite_bg;
		cursor: pointer;
	}
}

/* end wc.ui.combo.scss */