/* wc.ui.combo.ie9.css */
input[role="combobox"],
input[role="combobox"]:hover,
input[role="combobox"]:focus,
input[role="combobox"][disabled],
input[role="combobox"][disabled]:hover{
	background-size:18px 50px;
	background-image:url(../images/wc.ui.combo.arrow.sprite.ie8.png);
	padding-right:19px;
}

input[role="combobox"]:hover,
input[role="combobox"]:focus{
	background-position:100% 50%
}

input[role="combobox"][disabled],
input[role="combobox"][disabled]:hover{
	background-position:100% 100%
}
/* end wc.ui.combo.ie9.css  */