/* wc.ui.panel.header.mob.scss
 * This contains CSS for WPanel Type.HEADER which is used to make the
 * page header (role banner) and is most commonly over-ridden. */
@import "wc.ui.panel_vars.scss";

[role="banner"] {
	> .content {
		@include flex($direction: row-reverse, $wrap: wrap, $justify: space-between, $align-items: center, $align-content: flex-start);
		> * {
			@include flexGrow(0);
			@include flexShrink(1);
			padding-left: $hgap_small;
		}
		> :last-child {
			padding-right: $hgap_small;
		}
	}
	h1 {
		margin: 0;
		padding: 0;
		font-size: 1.25em;
		font-weight: bold;
	}
}
/*  wc.ui.panel.header.mob.scss */