/*
 * wc.ui.resizeable.ieAll.css
 * IE8 size and background images for resize handle & max/restore controls
 * for resizeable components.
 */
.wc_resize,
button.wc_maxcont{
	width: 16px;
	height: 16px
}


.wc_resize,
.wc_resize:hover,
.wc_resize:focus{
	background-image:url(../images/wc.ui.resizeable.ie8.png)
}

button.wc_maxcont,
button.wc_maxcont:hover,
button.wc_maxcont:focus{
	background-image:url(../images/wc.ui.resizeable.maxrestore.sprite.ie8.png)
}


button.wc_maxcont:focus,
button.wc_maxcont:hover{
	background-position: 33.34% 0
}

button.wc_maxcont[aria-pressed="true"]{
	background-position: 66.67% 0
}

button.wc_maxcont[aria-pressed="true"]:focus,
button.wc_maxcont[aria-pressed="true"]:hover{
	background-position: 100% 0
}
/* END wc.ui.resizeable.ieAll.css*/