/* wc.ui.dialog.ios.css */
dialog{
	border-radius: 2px;
	background-color: #f7f7f7
}

dialog > [aria-live]{
	background-color:transparent;
	border:0 none
}

dialog > header{
	background-color:transparent;
	border-bottom: 1px solid #a7a7aa
}

dialog > header > h1{
	color:#000;
	font-size:17px;
	font-weight:normal;
	text-align:center;
	padding:0;
	margin:14px 0 7px 0
}

dialog > header span{
	top:9px
}
/* end wc.ui.dialog.ios.css */