/* wc.ui.media.player.css
 * styles for WAudio and WVideo when the media is not able to be handled by the
 * user agent natively. */
@import "mixins_common.scss";

.wc_av_play, .src, .track {
	&::before {
		@include makeBox;
		margin-right: $hgap_small;
		vertical-align: text-bottom;
	}
}
.wc_av_play {
	&::before {
		content: url(../images/wc.ui.media.play.svg);
	}
	&[aria-pressed='true']::before {
		content: url(../images/wc.ui.media.pause.svg);
	}
	&[disabled]::before {
		content: url(../images/wc.ui.media.play.d.svg);
	}
	&[aria-pressed='true'][disabled]::before {
		content: url(../images/wc.ui.media.pause.d.svg);
	}
}
.src {
	&::before{
		content: url(../images/wc.ui.media.play.svg);
	}
	&[aria-disabled="true"]::before {
		content: url(../images/wc.ui.media.play.d.svg);
	}
}
.track {
	&::before {
		content: url(../images/wc.ui.media.track.svg);
	}
	&[aria-disabled="true"]::before {
		content: url(../images/wc.ui.media.track.d.svg);
	}
}

.track + .track,
.src + .src{
	margin-left: $hgap_normal;
}
/* end wc.ui.media.player.css */