/*wc.ui.dateField.ie8.scss */
@import "mixins_common.scss";

#wc-calendar{
	thead {
		td {
			vertical-align:bottom;
			padding:0;
		}
		input, button[value="-1"] {
			margin-left: $hgap_large;
		}
	}
}

/* end wc.ui.dateField.ie8.css */