/*
 * wc.ui.multiFormComponent.icons.scss
 *
 * WMultiTextField and WMultiDropdown action buttons (+/-) */
@import "mixins_common.scss";
.wc_mfc {
	button {
		margin-left: $hgap_small;
		padding:0;
		&::before {
			content: url(../images/wc.ui.multiFormComponent.del.svg);
			line-height: 0;
			@include makeBox($width:1em, $height:1em);
			vertical-align: text-bottom;
		}
		&[disabled]::before {
			content: url(../images/wc.ui.multiFormComponent.del.d.svg);
		}
	}
	li:first-child button {
		&::before {
			content: url(../images/wc.ui.multiFormComponent.add.svg);
		}
		&[disabled]::before {
			content: url(../images/wc.ui.multiFormComponent.add.d.svg);
		}
	}
}
/* end wc.ui.multiFormComponent.icons.scss*/