/* wc.ui.media.player.css
 * styles for WAudio and WVideo when the media is not able to be handled by the
 * user agent natively. */
@import "mixins_common.scss";

.wc_av_play, .src, .track {
	&:before {
		margin-right: $hgap_small;
		vertical-align: text-bottom;
	}
}

.src, .track {
	display:inline-block;
	&:before {
		display:inline-block;
	}
}


.wc_av_play {
	&:before {
		content: url(../images/media-playback-start.png);
	}
	&[aria-pressed='true']:before {
		content: url(../images/media-playback-pause.png);
	}
}

.src:before {
	content: url(../images/media-playback-start.png)
}

.track:before {
	content: url(../images/application-smil.png);
}

.track + .track,
.src + .src {
	margin-left: $hgap_normal;
}
/* end wc.ui.media.player.css */