/* wc.ui.checkBox.css */

/* NOTE: the height is required for IE11. Do not put this into an IE11 file otherwise you will trigger another bug.
   If you have problems with Safari use a .safari.css file to unset it.*/
.checkbox::before{
	display:inline-block;
	width: 1em;
	height:1em;
	content:url(../images/wc.common.checkbox.readOnly.svg)
}

.checkbox.wc_ro_sel::before{
	content:url(../images/wc.common.checkbox.selected.readOnly.svg)
}
/* end wc.ui.checkBox.css */