// Just a bunch of common (global?) vars.
// BORDERS
// Many things have borders and it is nice to have a common look to all of them. You may want to cross reference this to
// the mixins makeBorder and makePartBorder which use these as default values but allow override.
$border-style: solid !default;
$border-width: 1px !default;

/// The usual alignment for your target.
$preferred-alignment: left !default;

/// z-index settings
/// We have a number of transient elements which have a z-index (eg the calendar in WPartialDateField's output widget).
/// Many of these require the z-index to be _below_ the modal shim z-index but then have an override to make them _above_
/// the dialog z-index if they are in a dialog.
/// The z-index common is the lowest z-index we should ever apply to a normal transient artefact. This _could_ be 1 and
/// _must_ be at least 2 less than z-index-modal-shim as we need transient elements to be below the modal shim. I
/// recommend this be greater than 1 just in case an application needs a local over-ride due to unusual design or theme
/// overrides.
$z-index-common: 5 !default;
/// z-index-modal-shim
/// THis is the z-index of the modal shim. Every z-index should be below this except dialogs and transient elements with
/// a z-index when they are found in a dialog.
$z-index-modal-shim: 20 !default;
/// The z-index-dialog is the z-index of the dialog element. It must be above z-index-modal-shim.
$z-index-dialog: $z-index-modal-shim + 1;
/// The z-index common to most components in a dialog
$z-index-common-in-dialog: $z-index-common + $z-index-dialog;
/// The unloading shim must be over everything including things in dialogs.
$z-index-unloading-shim: 99 !default;
$z-index-unloading-message: $z-index-unloading-shim + 1;
