// Override this for some simple colour/size over-rides for dialogs
@import 'mixins-common';

$wc-ui-color-dialog-head-bg: $std-color-primary !default;
$wc-ui-color-dialog-head-fg: $std-color-primary-accent !default;

$wc-ui-dialog-min-width: 15rem !default;
$wc-ui-dialog-min-height: 7rem !default;

$wc-ui-dialog-transition-delay: 0s !default;
$wc-ui-dialog-transition-duration: 0.5s !default;
