$default-font: sans-serif !default;
$mono-font: monospace !default;

// Font size for mobile and small screens (< 1024px). This is the default because mobile is king!
$default-font-size: 100% !default;
// sizes for not-mobile screens >= 1024px
$dt-font-size: 100% !default;
// font size on really learge, dense monitors (eg Apple cinema and thunderbolt displays) where small fonts become too
// tiny to be useful.
$bigscreen-font-size: 100% !default;
