@import 'mixins-common';

%wc-invite {
	cursor: pointer;
	outline: 0;

	&:hover,
	&:focus {
		background-color: $wc-ui-color-invite-bg;
		color: $wc-ui-color-invite-fg;
	}

	&[disabled],
	&[aria-disabled='true'] {
		&:hover {
			background-color: $wc-ui-color-disabled-bg;
			color: $wc-ui-color-disabled-fg;
		}
	}
}
