@import 'tree-vars';

//generic menu structure
$wc-ui-menu-item-pad-topbottom: $wc-gap-normal !default;

//generic menu colours
$wc-ui-color-menu-bg: $std-color-tertiary !default;
$wc-ui-color-menu-fg: $wc-ui-color-global-fg !default;
//NOTE: hover and focus effects use the global invite colours.

//menu type BAR and FLYOUT structure
//padding of items
$wc-ui-menu-bar-column-item-pad: $wc-ui-menu-item-pad-topbottom !default;
//FLYOUT menu top level items
$wc-ui-menu-flyout-top-level-item-pad: $wc-gap-small !default;
//padding of WSeparator at the top level of a BAR or FLYOUT menu (orientation='vertical')
$wc-ui-menu-bar-vseparator-pad: $wc-gap-normal 0 !default;
$wc-ui-menu-flyout-vseparator-pad: $wc-gap-small 0 !default;
//the gap bewtten the text label of a sub menu and its 'opener' image
$wc-ui-menu-bar-column-opener-indicator-before-after: $wc-gap-small !default;


// width of the open state icon in WMenu type TREE
$wc-ui-menu-tree-iconwidth: 1.25rem !default;
