// Common spacing variables
$hgap-small: 0.25em;
$hgap-normal: 0.5em;
$hgap-large: 1em;
$vgap-small: $hgap-small;
$vgap-normal: $hgap-normal;
$vgap-large: $hgap-large;

$section-content-spacing: $hgap-normal;
$section-header-spacing: $hgap-normal;

$list-layout-dot-spacing: 1.5em;
$list-layout-ordered-spacing: 2em;
