// Common spacing variables
$hgap-small: 0.25rem;
$hgap-normal: 0.5rem;
$hgap-large: 1rem;
$vgap-small: $hgap-small;
$vgap-normal: $hgap-normal;
$vgap-large: $hgap-large;

$section-content-spacing: $hgap-normal;
$section-header-spacing: $hgap-normal;

$list-layout-dot-spacing: 1.5rem;
$list-layout-ordered-spacing: 2rem;
