/* wc.ui.panel.header.scss */
// This contains CSS for WPanel Type.HEADER which is used to make the page header (role banner) and is most commonly
// over-ridden.

[role='banner'] {
	@if ($wc-header-h1-size-full != -1) {
		h1 {
			font-size: $wc-header-h1-size-full;
		}
	}

	@if ($wc-label-weight != normal) {
		.wc-label {
			font-weight: normal;
		}
	}
}

@if ($wc-header-h1-size-small != -1) {

	@include respond-phonelike {
		[role='banner'] {
			h1 {
				font-size: $wc-header-h1-size-small;
			}
		}
	}
}

@import 'wc.ui.panel.header.color';
