// Default responsive design for sections. See wc.section.scss.
@if ($wc-use-respond == 1 and $wc-gap-reduce-when-narrow == 1) {
	@include respond-phonelike {

		@if ($wc-section-space-header > 0) {
			section {
				> h1,
				> header {
					padding: $wc-section-space-header-reduced;
				}
			}
		}

		@if ($wc-section-space-normal > 0) {
			section {
				> div,
				> .wc-listlayout {
					padding: $wc-section-space-reduced;
				}

				&,
				> .wc-panel {
					> .wc-content > .wc-menu-type-bar:first-child {
						$neg-margin: -$wc-section-space-reduced;
						margin: $neg-margin $neg-margin $wc-section-space-reduced;
					}
				}
			}

			.wc-section > .wc-panel {
				padding: $wc-section-space-reduced;
			}
		}
	}
}
