.wc-multifileupload.wc_dragging [type='file'] {
  @include outline($color: $wc-clr-invite-fg, $style: dotted, $width: 2px);
  background-color: $wc-clr-invite-bg;
}

.wc-file {
  background-color: $wc-clr-highlight-bg;
  color: $wc-clr-highlight-fg;
}

// sass-lint:disable no-vendor-prefixes
[type='file']::-webkit-file-upload-button {
  @include button($border: 0);
  @include border($pos: right);
}
// sass-lint:enable no-vendor-prefixes
