@import 'mixins-common';
// The styles which create spaces, padding, margins, gaps, hgap and vgap.

// NOTE: Most layouts and WRow have div children. ListLayout/WList has li children.
// We can (at the moment) safely use the universal selector here but maybe not into the future. Even so, it has
// terrible performance so we are probably better off without it.

// Vaadin Scss compiler does not appear to handle multiple assignment so the simple each below has to be done a bit more
// verbosely.

@each $cl in $wc-gap-suffix-list {
	@if ($cl == z) {
		$size: 0;
	}
	@else if ($cl == sm) {
		$size: $wc-gap-small;
	}
	@else if  ($cl == med) {
		$size: $wc-gap-normal;
	}
	@else if  ($cl == lg) {
		$size: $wc-gap-large;
	}
	@else {
		$size: $wc-gap-xl;
	}


	.wc-hgap-#{$cl} {
		> div,
		> li,
		> ul,
		> span {
			padding-left: $size / 2;
			padding-right: $size / 2;
		 }
	}

	.wc-vgap-#{$cl} {
		> div + div,
		> li + li {
			margin-top: $size;
		 }
	}

	.wc-margin-all-#{$cl} {
		margin: $size;
	}

	.wc-margin-n-#{$cl} {
		margin-top: $size;
	}

	.wc-margin-e-#{$cl} {
		margin-right: $size;
	}

	.wc-margin-s-#{$cl} {
		margin-bottom: $size;
	}

	.wc-margin-w-#{$cl} {
		margin-left: $size;
	}

	.wc-pad-#{$cl} {
		padding: $size;
	}
}

.wc-hgap-sm,
.wc-hgap-med,
.wc-hgap-lg,
.wc-hgap-xl {
	> :first-child {
		padding-left: 0;
	}

	> :last-child {
		padding-right: 0;
	}
}
