// Iconography for inline messages
@import 'mixins-common';

.wc-fieldindicator > span:before {
	@include wc-icon-fw(-1);
	content: '';
}

span:first-of-type:before {
	.wc-fieldindicator-type-error > & {
		content: $fa-var-times-circle;
	}

	.wc-fieldindicator-type-warn > & {
		content: $fa-var-exclamation-triangle;
	}

	.wc-fieldindicator-type-info > & {
		content: $fa-var-info-circle;
	}

	.wc-fieldindicator-type-success > & {
		content: $fa-var-check-circle;
	}
}
