[role='tab'] {
  background-color: $wc-clr-tab-inactive;
  color: $wc-clr-global-fg;

  &[aria-selected='true'],
  &[aria-expanded='true'] {
    background-color: $wc-clr-tab-active;
  }
}

[role='tabpanel'] {
  background-color: $wc-clr-global-bg;
  color: $wc-clr-global-fg;
}
