// the ticker
textarea + output {
  @include border($color: -1);
  @include border($pos: top, $width: 0);
  background-color: $wc-clr-disabled-bg;
  @if ($wc-clr-border-form-control != -1) {
    border-color: $wc-clr-border-form-control;
  }
  color: $wc-clr-disabled-fg;
}
