
summary {
	@if ($wc-ui-color-collapsible-header-bg != -1) {
		background-color: $wc-ui-color-collapsible-header-bg;
	}
	@if ($wc-ui-color-collapsible-header-fg != -1) {
		color: $wc-ui-color-collapsible-header-fg;
	}

	> h1,
	> h2,
	> h3,
	> h4,
	> h5,
	> h6 {
		@if ($wc-ui-color-collapsible-header-fg != $wc-ui-color-heading and $wc-ui-color-collapsible-header-fg != -1) {
			// override default heading colour;
			color: $wc-ui-color-collapsible-header-fg;
		}
	}
}
