@if ($wc-use-respond == 1) {
  @include respond-phonelike {
    // full screen sub menus
    .wc-menu-type-column,
    .wc_menu_bar {
      .wc_submenucontent {
        @include border-box;
        height: 100%;
        left: 0;
        overflow: auto;
        position: fixed;
        top: 0;
        width: 100%;

        > [role] {
          font-size: $wc-font-larger;
        }
      }

      .wc_closesubmenu {
        display: block;

        .wc-decoratedlabel {
          display: inline-table;
          max-width: calc(100% - #{$wc-gap-normal});
        }
      }
    }
  }
}
