// styles for WLabel and the label emulators
@if ($wc-clr-label-fg != -1) {
	label {
		background-color: $wc-clr-label-bg;
		color: $wc-clr-label-fg;
	}
}

 // hint is additional text for labels that describe other information for the
 // related form element
.wc-label-hint {
	@if ($wc-clr-label-hint != -1) {
		color: $wc-clr-label-hint;
	}
}
