@import 'mixins-common';

@if ($wc-use-respond == 1 and $wc-use-respond-table == 1) {
	@include respond-phonelike {
		.wc-table.wc-respond {
			tr[aria-selected='true'] {
				&,
				&.wc-invite:hover,
				&.wc-invite:focus {
					background-color: $wc-ui-color-selected-bg;
				}

				> th,
				> td {
					// WARNING: you _may_ want to add overrides for coloured elements eg, headings.
					&,
					a,
					a:visited,
					.wc-linkbutton {
						color: $wc-ui-color-selected-fg;
					}
				}
			}
		}
	}
}
