/* wc.ui.fileUploadIcons.scss */
@import 'mixins-common';

.wc-fileupload .wc_btn_abort:before {
	content: $fa-var-ban;
}

.wc-fileupload a ~ button:before {
	content: $fa-var-trash;
}

.wc_btn_camera:before {
	content: $fa-var-video-camera;
}
