// #############################################################################
// WPanel type CHROME
// See wc.section.color
// #############################################################################
@if ($wc-clr-section-heading-bg != -1) {
  .wc-panel-type-chrome > h1 {
    background-color: $wc-clr-section-heading-bg;
    color: $wc-clr-section-heading-fg;
  }
}

// #############################################################################
// Type.ACTION
// #############################################################################
// See wc.section.color
.wc-panel-type-action {
  @if ($wc-clr-panel-action-bg != -1) {
    background-color: $wc-clr-panel-action-bg;
  }
  @if ($wc-clr-panel-action-border != -1) {
    border-color: $wc-clr-panel-action-border;
  }

  @if ($wc-clr-panel-action-header-bg != -1) {
    > h1 {
      background-color: $wc-clr-panel-action-header-bg;
      color: $wc-clr-panel-action-header-fg;
    }
  }
}

// #############################################################################
// WPanel Type.FEATURE
// #############################################################################
// 'The feature panel is highlighted by a background colour and border.'
@if ($wc-clr-panel-feature-bg != -1) {
  .wc-panel-type-feature {
    background-color: $wc-clr-panel-feature-bg;
    color: $wc-clr-panel-feature-fg;
  }
}

// #############################################################################
// Type FOOTER
// #############################################################################
@if ($wc-clr-panel-footer-bg != -1) {
  footer {
    background-color: $wc-clr-panel-footer-bg;
    color: $wc-clr-panel-footer-fg;
  }
}

// #############################################################################
// Type HEADER
// #############################################################################
@if ($wc-clr-panel-header-bg != -1) {
  [role='banner'] {
    background-color: $wc-clr-panel-header-bg;

    // Set the foreground colour of components which have their own defined
    // colour so will not inherit from the container.
    &,
    h1,
    .wc-linkbutton,
    a,
    a:visited {
      color: $wc-clr-panel-header-fg;
    }
  }
}
