@import 'vars_all.scss';
@import 'mixins_flex.scss';//flex layouts
@import 'mixins_respond.scss';//responsive design media queries

@mixin align($align: $preferred-alignment) {
	text-align: $align;
}

@mixin border($pos: all, $color: $wc-ui-color-border, $style: $border-style, $width: $border-width) {
	@if ($pos == all) {
		border: $width $style $color;
	}
	@else {
		border-#{$pos}: $width $style $color;
	}
}

@mixin border-box {
	// scss-lint:disable VendorPrefix
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

// This mixin makes a square box to put an SVG in.
@mixin make-box($display: inline-block, $width: $line-size, $height: $line-size) {
	display: $display;
	@if ($height != auto) {
		height: $height;
	}
	@if ($width != auto) {
		width: $width;
	}
}

@mixin mandatory-indicator {
	color: $wc-ui-color-required-marker;
	content: '*';
}

@mixin offscreen {
	// scss-lint:disable ImportantRule
	left: -9999px !important;
	overflow: hidden !important;
	position: absolute !important;
}

@mixin outline($color: $wc-ui-color-border, $style: solid, $width: $border-width, $offset: 0) {
	outline: $width $style $color;
	@if ($offset != 0) {
		outline-offset: $offset;
	}
}

@mixin padded-box($pad: $hgap-normal, $border: $wc-ui-color-border) {
	@include border($color: $border);
	padding: $pad;
}

@mixin use-symbol-font {
	font-family: $symbol-font;
}
