/* tree.scss */
@import 'tree-vars';

[role='tree'] {
	[role='group'] {
		background-color: $wc-ui-color-global-bg;
		color: $wc-ui-color-global-fg;
		display: none;
		padding: 0 0 0 $wc-tree-indent;
	}

	[aria-expanded='true'] > [role='group'] {
		display: block;
	}
}

[role='treeitem'] {
	@include border-box;
	display: block;
	width: 100%;

	&[aria-expanded] {
		padding: 0;
	}

	&[aria-selected='true'] {
		background-color: $wc-ui-color-highlight-bg;
		color: $wc-ui-color-highlight-fg;
	}
}

button[role='treeitem'],
[role='treeitem'] > button {
	padding: $wc-tree-item-pad;
	width: 100%;
}

.wc_leaf_vopener,
.wc_leaf_img,
.wc_leaf_hopener {
	display: inline-block;
	width: 1.25rem;
}

.wc_leaf_vopener,
.wc_leaf_noimg,
.wc_leaf_hopener {
	&:before {
		@include wc-icon;
	}
}

.wc_leaf_vopener { // the vertical opener button
	text-align: center;

	&:before {
		[aria-expanded] > button > & {
			content: $fa-var-caret-right;
		}

		[aria-expanded='true'] > button > & {
			content: $fa-var-caret-down;
		}
	}

	.wc_htree & {
		display: none;
	}
}

// The icon container
.wc_leaf_img {
	img {
		max-height: 16px;
		max-width: 16px;
	}
}

.wc_leaf_noimg:before { // placeholder image
	content: $fa-var-file-o;

	button > & {
		[aria-expanded] > & {
			content: $fa-var-folder-o;
		}

		[aria-expanded='true'] > & {
			content: $fa-var-folder-open-o;
		}
	}
}

// htree branch opener.
.wc_leaf_hopener {
	display: none;

	.wc_htree [aria-expanded] > button > & {
		display: inline-block;

		&:before {
			content: $fa-var-caret-right;
		}
	}
}


// .wc_debug {
// 	.wc_leaf_hopener,
// 	.wc_leaf_vopener {
// 		@include outline($color: #f00);
// 	}
// }
