/* wc.common.modalShim.scss */
@import "wc.common.modalShim_vars.scss";
#wc_shim{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 19;
	overflow: hidden;
	width: 100%;
	min-height: 100%;
	background-color: $wc_ui_color_modalShim;
	color: $wc_ui_color_modalShim_foreground;
	
}

/* (un)loading indicator shim*/
#wc_shim.wc_shim_loading{
	z-index:99
}
/* end wc.common.modalShim.scss */