/* wc.common.form.scss */
// This document contains general css styling for generic form components. Custom components have their own css files
@import 'mixins_common.scss';

@mixin ariaDisabled {
	// scss-lint:disable ImportantRule
	color: $wc_ui_color_disabledForeground; // NOTE do not set background-color here for your own sanity
	cursor: default !important;
	outline: none !important;
	text-decoration: none !important;
}

select,
%select { //placeholder just to make scss-lint stfu
	@include border($color: $wc_ui_color_border_formControl); // breaks firefox OS X quite nastily but it is better than the other options with all other browsers
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
	max-width: 100%;

	&[aria-invalid='true'] {
		background-color: $wc_ui_color_errorBackground;
	}
}

input,
textarea {
	@extend %select;
	padding: 1px;
}

[type='checkbox'],
[type='radio'] {
	border: 0 none;
}

[aria-invalid='true'] {
	@include outline($color: $wc_ui_color_errorForeground);
}

[role='combobox'][aria-invalid='true'] > input {
	background-color: $wc_ui_color_errorBackground;
}

// DISABLED
[aria-disabled='true'] {
	@include ariaDisabled;
}

input,
select,
textarea {
	&[disabled] {
			// scss-lint:disable ImportantRule
		@include ariaDisabled;
		background-color: $wc_ui_color_disabledBackground !important;
		border-color: $wc_ui_color_disabledBorder !important;
	}
}

// Read-only: box sizing is to make them the same as the editable element (input, textarea or select).
.wc_ro {
	@include borderBox;
	display: inline-block;
	max-width: 100%;
	word-wrap: break-word;
}
/* end of wc.common.form.scss */
