/* wc.ui.row.scss */
@import 'mixins-common';


.wc-row {
	@include flex;
}

.wc-column {
	@include border-box;
}

@if ($wc-column-list == -1) {
	@for $i from 1 through 100 {
		.wc_col_#{$i} {
			width: percentage($i / 100);
		}
	}
}
@else {
	@for $i from 1 through 20 {
		$w: $i * 5;

		.wc_col_#{$w} {
			width: percentage($w / 100);
		}
	}
	@if ($wc-column-list != -0) {
		@each $w in $wc-fld-list {
			.wc_col_#{$w} {
				width: percentage($w / 100);
			}
		}
	}
}

@import 'rowColumn.respond';
