/* wc.common.list.scss */
/// Styles applied to list output of many components.
@import 'mixins-common';

/// represents a list with no bullets
.wc_list_nb {
	@include tight-box;
	list-style-type: none;
}

/// text mode option and optgroup emulation
.wc_inoptgroup {
	text-indent: $wc-gap-large;
}

/// opt group emulator
.wc_optgroup {
	font-weight: bold;
}
