/* wc.common.buttonLinkImages.scss */
@import 'mixins_common.scss';
// Positioning of an image in a WButton or WLink based on the component's imagePosition property. XS:TOKENs for this
// property are 'n','e','s','w'.
// Used by:
// WButton (incl WCancelButton, WConfirmButton, WPrintButton)
// WLink (incl WInternalLink, WContentLink)

// Images in buttons and links are placed in a container so they can be positioned
.wc_btn_img {
	&n,
	&s {
		// Links with north/south images must be inline-block and centered.
		display: inline-block;
		text-align: center;

		> img {
			display: block;
			margin: 0 auto;
		}
	}

	&n > img {
		@include margin(bottom);
	}

	&s > img {
		@include margin(top);
	}

	&e > img {
		@include margin(left);
	}

	&w > img {
		@include margin(right);
	}
}
