/* wc.ui.row.scss */
@import 'mixins-common';

.wc-row {
	@include flex;

	.wc_chkgrp & {
		@include flex-justify-content(space-between);
	}
}

.wc-column {
	@include border-box;
	display: inline-block; // with implied width auto
}

@include respond-phonelike {
	.wc-row {
		display: block;
	}

	.wc-column {
		display: block;
		// width is set inline for WColumn and ColumnLayout. Important to override this inline css.
		// TODO: Fix this at least for common widths as per WFieldLayout.
		// scss-lint:disable ImportantRule
		width: 100% !important;

		+ .wc-column {
			margin-top: $wc-gap-small;
		}

		&,
		.wc_hgap_sm > &, // see wc.common.hvgap.scss
		.wc_hgap_med > &,
		.wc_hgap_lg > & {
			padding-left: 0;
			padding-right: 0;
		}
	}
}
