// variables used in accessKey indicators
@import 'mixins_common.scss';
$wc-ui-color-tooltip-fg: $std-color-primary;
$wc-ui-color-tooltip-bg: $std-color-tertiary;
$wc-ui-color-tooltip-border: $std-color-lines;

@mixin accesskey-border {
	@include border($color: $wc-ui-color-tooltip-border);
}
