/* wc.common.form.ie8.scss */
// Setting max-width 100% in IE before 9 results in usability and a11y failures in select and unusual collapsing in some
// layouts.
textarea,
input,
option,
select {
	max-width: none;
}
