/* wc.common.modalShim.scss */
@import 'wc.common.modalShim_vars.scss';
// scss-lint:disable IdSelector
#wc_shim {
	background-color: $wc_ui_color_modalShim;
	color: $wc_ui_color_modalShim_foreground;
	left: 0;
	min-height: 100%;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 19;

	&.wc_shim_loading { // (un)loading indicator shim
		z-index: 99;
	}
}
/* end wc.common.modalShim.scss */
