/* wc.common.checkRadio.scss */
@import 'mixins_common.scss';

// readonly WCheckBox and WRadioButton


[aria-readonly="true"] {
	&[role="checkbox"],
	&[role="radio"] {
		@include background-image($url: '../images/checkbox-ro.png', $height: 1em, $width: 1em);
		@include make-box($width: 1em, $height: 1em);

		&[aria-checked="true"] {
			background-image: url('../images/checkbox-s-ro.png');
		}
	}

	&[role="radio"] {
		background-image: url('../images/radio-ro.png');

		&[aria-checked="true"] {
			background-image: url('../images/radio-s-ro.png');
		}
	}
}
