/* wc.common.checkRadio.scss */
@import 'mixins_common.scss';

.checkBox, // 'readOnly' WCheckBox
.radioButton {
	&.wc_ro {
		@include background-image($url: '../images/checkbox-ro.png', $height: 1em, $width: 1em);
		@include make-box($width: 1em, $height: 1em);
	}
}

.checkBox.wc_ro_sel {
	background-image: url('../images/checkbox-s-ro.png');
}


.radioButton.wc_ro { // 'readOnly' WRadioButton
	background-image: url('../images/radio-ro.png');

	&.wc_ro_sel {
		background-image: url('../images/radio-s-ro.png');
	}
}
