/* wc.common.page.ie8.scss */
// Text mode optgroup emulation for multiple selection controls readOnly mode: WMultiSelect, WMultiSelectPair, WShuffler
// Internet Explorer chooses to render an optgroup in an italic font.
.wc_optgroup {
	font-style: italic;
}
