/* wc.common.page.scss */
// Primary styling for the page and preliminary styling of some commonly used basic elements and layout classes.
@import 'mixins-common';

// We need to have the document body fill the viewport in all browsers to correctly propagate some click events.
html {
	height: 100%;
}

body {
	@include tight-box;
	font-family: $wc-default-font;
	font-size: $wc-default-font-size;
	height: 100%; // body to fill viewport for event propagation.
}

p {
	margin: 0 0 $wc-gap-large;
}

pre {
	font-family: $wc-mono-font;
}

.wc-off {
	@include offscreen;
}

// Text alignment
.wc-align-left {
	@include align(left);
}

.wc-align-right {
	@include align(right);
}

.wc-align-center {
	@include align(center);
}

.wc-icon:before,
.wc-icon-right:before {
	@include wc-icon;
}

.wc-icon-right:before {
	float: right;
	margin-left: $wc-gap-small;
}

// [hidden] hides content. Class .wc-off moves the content so it is still available to assistive technologies but is not
// visible on screen. Applying this to [hidden] is redundant but needed because of irregular hidden support. It is
// important to override more specific selectors for individual components. Again, this is needed for re-applying hidden
// after it has been removed.
[hidden] {
	// important required to override more specific display rules (see menus, collapsibles for examples)
	// scss-lint:disable ImportantRule
	display: none !important;
}

@include viewport {
	user-zoom: zoom;
	width: extend-to-zoom;
	zoom: 1;
}

@include respond-med-device {
	body {
		font-size: $wc-desktop-font-size;
	}
}

@include respond-large-device {
	body {
		font-size: $wc-bigscreen-font-size;
	}
}
