/* wc.common.button.ios.css */
@import "vars_all.scss";
button {
	background-color: transparent;
	border: 0 none;
	border-radius: 0;
	color: #007aff;
	font-family: $iosFont;
	font-size: 1em;
	text-align: center;
	vertical-align: middle;
	&:active {
		background-color: #007aff;
		color: #fff;
	}
	&, &:hover, &:focus, &:active, &[disabled] {
		background-image: none;
	}
	&[disabled] {
		color: $wc_ui_color_disabledForeground;
	}
}

.wc_btn_nada:active, .wc_btn_link:active {
	background-color: transparent
}
/* end wc.common.button.ios.css */