/* wc.common.listbox.scss */
// listbox for combo and datefield
@import 'mixins-common';

[role='listbox'] {
	@include border;
	@include border-box;
	@include tight-box;
	display: block;
	list-style-type: none;
	// allow for up to approx seven visible options. The factor 1.25 is a rough line-height
	// Chrome & Safari on OS - X use 1.125 whereas FF appears to use 1.0625.
	max-height: (7 * 1.125 * (1 + (2 * $wc-gap-small)));
	max-width: 100%;
	overflow: auto;
	position: absolute;
	z-index: $wc-z-index-common;

	dialog & {
		position: fixed;
		z-index: $wc-z-index-common-in-dialog;
	}
}

[role='option'] {
	@include border-box;
	display: block;
	margin: 0;
	min-height: 1em;
	padding: $wc-gap-small;
	width: 100%;
}

@import 'wc.common.listbox.color';
