/* wc.common.form.scss */
// This document contains general css styling for generic form components. Custom components have their own css files
@import 'mixins-common';

input,
select,
textarea {
	// Border on select makes firefox OS X quite ugly but is better than any other option on all other UAs.
	@include border($color: $wc-ui-color-border-form-control);
	@include margin($size: 0);
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	max-width: 100%;

	&[disabled] {
		@include aria-disabled;
	}
}

input,
textarea {
	padding: 1px;
}

input {
	&[type='checkbox'],
	&[type='radio'] {
		@include border($width: 0);
		// NOTE: no need to remove the 1px padding.
	}
}

/// Disabled.
[aria-disabled='true'] {
	@include aria-disabled;
}

/// Read-only
/// Display and box sizing is to make them the more akin to the editable element (input, textarea or select).
.wc_ro {
	@include border-box;
	display: inline-block;
	max-width: 100%;
	word-wrap: break-word;
}
