/* wc.common.checkRadioIcons.scss */
@import 'mixins-common';

/// WCheckBox and WRadioButton in read-only mode.
.wc-checkbox,
.wc-radiobutton {
	&.wc_ro:before {
		@include wc-icon($fa-var-square-o);
	}
}

/// Selected, read-only WCheckBox.
.wc-checkbox.wc_ro_sel:before {
	content: $fa-var-check-square-o;
}

/// read-only WRadioButton.
.wc-radiobutton.wc_ro {
	&:before {
		content: $fa-var-circle-o;
	}
	/// selected, read-only WRadioButton.
	&.wc_ro_sel:before {
		content: $fa-var-dot-circle-o;
	}
}
