/* wc.debug.common.scss */
// CSS for common debug mode diagnostics
// NOTE FOR MARK
// YES, that means **YOU** Mark
// Next time you decide to delete all of the debug Sass and stop building it:
// ### **DON'T** ###
// Really, just don't otherwise you will have to put some of it back again and that is a PITA.
@import 'mixins_common.scss';
$wc-ui-color-debug-fg: $std-color-primary;

body {
	&::before { // I no longer care about IE8.
		background-color: $wc-ui-color-highlight-bg;
		color: $wc-ui-color-highlight-fg;
		content: 'Client debug/diagnostic mode: document has ' attr(data-wc-nodeCount) ' elements.';
		display: block;
		padding: 0.5em;
	}

	&.wc_loggedwarn {
		background-color: $wc-ui-color-warning-fg;
	}

	&.wc_loggederror { //the error style MUST TRUMP the warn style
		background-color: $wc-ui-color-error-fg;
	}
}
