// WFieldWarningIndicator
// WValidationErrors (server side validation) when "inline"
// Client side validation error messages if plugin included
@import 'mixins-common';

.wc-fieldindicator {
	display: block;
	margin-top: $wc-gap-small;

	> .fa {
		text-align: left;
		width: $wc-icon-normal;

		+ span {
			display: inline-block;
		}
	}

	> span {
		display: block;
		width: calc(100% - $wc-icon-normal);

		+ span {
			margin-left: $wc-icon-normal;
			margin-top: $wc-gap-small;
		}
	}
}


@import 'wc.messages.color';
