@import 'mixins/common';

// timeout warning container is generated and identified.
// sass-lint:disable no-ids
#wc_session_container {
  @include fit-content($fallback: 25rem);
  bottom: 0;
  max-width: 100%;
  position: fixed;
  right: 0;
  z-index: $wc-z-index-unloading-message;
}

@import 'wc.timeoutwarn.color';
