/* wc.ui.fileUpload.scss */
@import 'mixins_common.scss';

.fileUpload {
	> .wc_filelist {
		display: table-cell;  // horrendously wrong no doubt but fixes columns
		margin-top: $hgap-small;

		&.wc_list_flat {
			.file {
				display: inline-block;
				margin-right: $hgap-small;
				margin-top: $hgap-small;

				// The excessive depth here could be re-written I suppose...
				// scss-lint:disable NestingDepth
				&:last-child {
					margin-right: 0;
				}
				// scss-lint:enable NestingDepth
			}

			a {
				width: auto;
			}
		}

		> .file + .file {
			margin-top: $vgap-normal;
		}
	}

	&[data-wc-cols] {
		> div {
			@include flex($justify: space-between);
			margin-top: $hgap-small;
		}

		ul {
			@include flex-grow(1);
		}
	}

	.file {
		@include border;
		background-color: $wc-ui-color-highlight-bg;
		color: $wc-ui-color-highlight-fg;
		padding: $hgap-normal;
		white-space: nowrap;
	}

	&.wc_dragging [type=file] {
		background-color: $wc-ui-color-invite-bg;  //#c0ffee
		outline: 2px dotted $wc-ui-color-invite-fg;
	}

	button {
		margin-left: $hgap-small;

		&:before {
			content: url('../images/edit-delete-2.png');
		}

		&[disabled]:before {
			content: url('../images/edit-delete-2-d.png');
		}
	}

	a,
	a ~ button {
		display: inline-block;
		vertical-align: top;
	}

	a {
		width: calc(100% - #{$line-size});
	}
}
/* end wc.ui.fileUpload.scss */
