/* wc.ui.separator.scss */

// @import 'mixins-common';
@import 'mixins-common';

[role='separator'] {
	margin: 0;
	padding: 0;
}

[role='separator'][aria-orientation='vertical'] {
	@include border($pos: left);
	border-bottom: 0 none;
	display: inline;
}
