/* wc.ui.menu.barColumn.icon.ie8.scss */
[role='menubar'] > .wc-submenu > button {
	> .wc-decoratedlabel {
		background-image: url('../images/down.png');
		background-position: 100% 50%;
		background-repeat: no-repeat;
		box-sizing: border-box;
		display: table;
		padding-right: 16px;
	}

	&[disabled] > .wc-decoratedlabel {
		background-image: url('../images/down-d.png');
	}
}

[role='menu'] .wc-submenu > button {
	> .wc-decoratedlabel {
		background-image: url('../images/next.png');
		background-position: 100% 50%;
		background-repeat: no-repeat;
		box-sizing: border-box;
		display: table; // table-row does not allow it to be sized to 100% in ie8
		padding-right: 6px;
	}

	&[disabled] > .wc-decoratedlabel {
		background-image: url('../images/next-d.png');
	}
}
