/* wc.ui.figure.scss */
@import 'mixins-common';

figure {
	@include flex($direction: column, $align-content: center);
	@include margin($size: 0);

	> .wc-content {
		text-align: center;
	}
}

figcaption {
	font-style: italic;
	text-align: center;
}
