/* wc.ui.menu.barColumn.icon.mob.scss */
// * for WMenu type BAR, type FLYOUT, type COLUMN. The opener iconoiography for mobile uas.
@import 'vars_all.scss';

[aria-expanded] > button {
	[role='menubar'] > &::after {
		content: '\25bc';
		display: inline-block;
		margin-left: $hgap-small;
	}

	[role='menu'] & .decoratedLabel::after {
		content: '\25ba';
		display: table-cell;

		// scss-lint:disable SelectorDepth This could be unpicked but it would be repetitive and error-prone
		[role='banner'] & {
			display: inline-block;
			margin-left: 0.25em;
		}
		// scss-lint:enable SelectorDepth
	}
}

.closesubmenu::before {
	content: '\2039';
	margin-right: 0.5em;
}
/* end wc.ui.menu.barColumn.icon.mob.scss*/
