/* wc.ui.multiSelectPair.icons.scss */
@import 'mixins_common.scss';

.wc_msp_btncol button {
	@include background-image('../images/next.png', $height: 1em, $width: 1em);

	// NOTE this will need a .ie8.scss file if your implementation needs to support ie8.
	&:nth-of-type(2) {
		background-image: url('../images/last.png');

		&[disabled] {
			background-image: url('../images/last-d.png');
		}
	}

	&:nth-of-type(3) {
		background-image: url('../images/previous.png');

		&[disabled] {
			background-image: url('../images/previous-d.png');
		}
	}

	&:last-of-type {
		background-image: url('../images/first.png');

		&[disabled] {
			background-image: url('../images/first-d.png');
		}
	}
}
