/* wc.ui.multiFormComponentIcons.scss */
// WMultiTextField and WMultiDropdown action buttons (+/-)
@import 'mixins-common';

.wc_mfc {
	button:before {
		content: $fa-var-minus-square;
	}

	li:first-child button:before {
		content: $fa-var-plus-square;
	}
}
