/* wc.ui.separator.scss */
@import 'mixins_common.scss';

[role='separator'] {
	border: 0 none;
	//scss-lint:disable DeclarationOrder
	@include border($pos: bottom); // rule order to set bottom border
	margin: 0;
	padding: 0;
	//scss-lint:enable DeclarationOrder

	&[aria-orientation='vertical'] {
		@include border($pos: left);
		border-bottom: 0 none;
		//scss-lint:disable ImportantRule
		display: inline !important;
	}
}
/* end wc.ui.separator.scss */
