/* wc.ui.table.rowSelection.scss */
@import 'wc.ui.table.rowSelection_vars.scss';
@import 'wc.ui.menu_vars.scss';

// only want to style aria-selected rows, nothing else
tr[aria-selected] {
	&:hover,
	&:focus {
		@include row-invite;
		cursor: pointer;
	}
}

.wc_table_sel_wrapper {
	[role='menubar'] {
		button {
			margin-left: 0; // override .wc_seltog style.
		}

		.wc-submenu > button { // the is the submenu opener emulator for the sub-row toggle control
			@include button($background: $wc-ui-color-menu-bg, $padding: 0, $width: 1em);
			height: calc(1em - 2px); // 2px fpr border
			position: relative;
			top: 2px;

			&::after {
				margin-left: 0; // remove submenu opener indicator margin
				vertical-align: top;
				width: 1em;
			}
		}
	}
}

.wc_table_col_hasmenu {
	// text-align: right;
	width: ($line-size * 2);
}
