/* wc.ui.backToTop.scss */
@import 'mixins_common.scss';

.wc_btt {
	bottom: 1em;
	position: fixed;
	right: 1em;

	&:before {
		content: url('../images/backToTop.svg');
		display: block;
		height: 4em;
		width: 4em;
	}

	> span {
		@include offscreen();
	}
}
/* end wc.ui.backToTop.scss */
