/* wc.ui.figure.scss */
@import 'mixins_common.scss';

figure {
	@include flex($direction: column, $align-content: center);
	.content {
		text-align: center;
	}
}

figcaption {
	font-style: italic;
	text-align: center;
}
