/* wc.ui.feedback.messages.indicators.scss */
//    WFieldWarningIndicator
//    WFieldErrorIndicator
//    WMessageBox/WMessages
//    WValidationErrors (server side validation)
//    Client side validation error messages if plugin enabled

// Iconography for inline messages
// This is split out from the main feedback CSS for ease of overriding as it is a lot of
// CSS to do a very small job and overriding the whole lot in an implementation would require all
// this just to turn off the pseudo elements plus the styling needed for the indicators.
@import 'mixins_common.scss';

.error,
.success,
.warn,
.info {
	> li:before {
		@include use-symbol-font;
	}
}


li:before {
	// error x
	.error > & {
		content: '\00D7\00a0';
	}

	// Warn !!
	.warn > & {
		content: '\203c\00a0';
	}

	// info i
	.info > & {
		content: '\2170\00a0';
	}

	// success tick : could cause i18n problems see http://en.wikipedia.org/wiki/Tick_(check_mark)
	.success > & {
		content: '\2713\00a0';
	}
}

// message colors
ul {
	&.error {
		color: $wc-ui-color-error-fg;
	}

	&.warn {
		color: $wc-ui-color-warning-fg;
	}

	&.info {
		color: $wc-ui-color-info-fg;
	}

	&.success {
		color: $wc-ui-color-success-fg;
	}
}
