/* wc.ui.dateField.ie11.scss */
@import 'mixins_common.scss';
// The calendar container is a single generated element with a fixed id.
// scss-lint:disable IdSelector
#wc-calendar thead button {
	padding: 0 3px;
}
