/* wc.ui.table.pagination.scss */
@import 'mixins_common.scss';

.wc_table_pag_cont {
	> span,
	> label {
		margin-left: $hgap-large;
		white-space: nowrap;

		&:first-child {
			margin-left: 0;
		}
	}

	label > select {
		margin-left: $hgap-small;
	}
}

// This rule applies when the pagination controls are at teh bottom of the table.
// scss-lint:disable QualifyingElement
td.wc_table_pag_cont {
	text-align: right;
}
// scss-lint:enable QualifyingElement
/* end wc.ui.table.pagination.scss */
