/* wc.ui.panel.flowLayout.ie10.scss */
//scss-lint:disable VendorPrefix
.wc-flowlayout {
	display: -ms-flexbox;
	-ms-flex-align: start;
	-ms-flex-direction: row;
	-ms-flex-pack: start;
	-ms-flex-wrap: wrap;

	> div {
		-ms-flex: 0 1 auto;
	}
}

.wc_fl_baseline {
	-ms-flex-align: baseline;
}

.wc_fl_bottom {
	-ms-flex-align: end;
}

.wc_fl_middle {
	-ms-flex-align: center;
}
