/* wc.ui.section.color.scss */
@import 'mixins-common';

.wc-section > .wc-decoratedlabel {
	background-color: $wc-ui-color-section-heading-bg;
	color: $wc-ui-color-section-heading-fg;

	> h1 {
		color: $wc-ui-color-section-heading-fg;
	}

	// color links, link-like buttons and 'buttonless' buttons to make them visible.
	.wc-nobutton,
	.wc-linkbutton,
	a,
	a:visited {
		color: $wc-ui-color-section-heading-fg;
	}

	.wc-nobutton[disabled],
	.wc-nobutton[disabled],
	a[aria-disabled='true'] {
		color: $wc-ui-color-section-heading-fg-disabled;
	}
}
