/* wc.ui.backToTop.scss */
@import 'mixins_common.scss';

/// The back to top of page link.
.wc_btt {
	bottom: 1em;
	position: fixed;
	right: 1em;

	&:before {
		content: url('../images/back-to-top.svg');
		display: block;
		height: 4em;
		width: 4em;

		@include respond (mobile) {
			height: 1.5em;
			width: 1.5em;
		}
	}

	> span {
		@include offscreen();
	}
}
