/* wc.ui.menu.bar.ff.scss*/
@import "wc.ui.menu_vars.scss";

.menu[role="menubar"] {
	> [role],
	> [role] > .decoratedLabel,
	> [aria-expanded] > button > .decoratedLabel {
		vertical-align: top;// Firefox honours inter-node whitespace even when the XSLT has indent off so this is required to make bar menus look reasonable.
	}
	> div[role]{// buttons, even with no border, no margin, no padding still occupy 2px more vertical space in FF than divs
		padding-top: calc(#{$wc_ui_menu_barColumn_itemPad} + 1px);
		padding-bottom: calc(#{$wc_ui_menu_barColumn_itemPad} + 1px);
	}
	[role="separator"][aria-orientation="vertical"] { //I honestly do not remember why this works but it does.
		padding-bottom: 1em !important;
		vertical-align: top;
	}
	> [aria-expanded] {
		> button::after {
			position: static;
		}
	}
}
[role="menubar"].bar > [aria-expanded] > button { //top level submenu openers
	padding-bottom: 0;
}

//FF cannot correctly calculate the width of a container if it is absolutely positioned
.submenu[aria-expanded="true"] > [role="menu"] {
	width: -moz-max-content;
}

/* end wc.ui.menu.bar.ff.scss */