/* wc.ui.dialog.mob.scss */
@import 'mixins_common.scss';

dialog {
	@include border-box;
	height: 96%;
	left: 0;
	margin: 2%;
	overflow: auto;
	position: fixed;
	top: 0;
	width: 96%;

	> header .wc_maxcont {
		display: none;
	}
}
/* end wc.ui.dialog.mob.scss */
