/* wc.ui.dialogue.ie9.scss */
@import 'mixins-common';
// This basically rebuilds dialogs for a pretty dodgy emulation without using flex.
$wc-dialog-ie9-head-size: 12px !default;
$wc-dialog-ie9-headfootheight: 16px !default;
$wc-dialog-ie9-headpad: 3px !default;
$wc-dialog-ie9-contentpad: 2 * ($wc-dialog-ie9-headfootheight + $wc-dialog-ie9-headpad);

dialog {
	&[open] {
		@include tight-box;
		display: block;
	}

	> [aria-live] {
		@include border-box;
		padding: $wc-dialog-ie9-contentpad $wc-gap-normal;
	}

	> header,
	> footer {
		height: $wc-dialog-ie9-headfootheight;
		overflow: hidden;
		position: absolute;
		width: 100%;
	}

	> header {
		padding: $wc-dialog-ie9-headpad 0;
		top: 0;

		> span {
			margin-right: 0;
			position: absolute;
			right: $wc-dialog-ie9-headpad;
			top: $wc-dialog-ie9-headpad;
		}

		> h1 {
			font-size: $wc-dialog-ie9-head-size;
		}
	}

	> footer {
		bottom: 0;
	}
}
