/* wc.ui.multiFormComponent.icons.scss */
// WMultiTextField and WMultiDropdown action buttons (+/-)
@import 'mixins_common.scss';

.wc_mfc {
	button {
		@include button($border: 0, $padding: 0);
		@include background-image-icon('../images/edit-delete-2.png');
		margin-left: $hgap-small;
		vertical-align: text-top;

		&[disabled] {
			background-image: url('../images/edit-delete-2-d.png');
		}
	}

	li:first-child button {
		background-image: url('../images/edit-add-2.png');

		&[disabled] {
			background-image: url('../images/edit-add-2-d.png');
		}
	}

	select + button {
		vertical-align: top;
	}
}
/* end wc.ui.multiFormComponent.icons.scss */
