/* wc.ui.row.scss */
@import 'mixins_common.scss';

.row {
	@include flex($justify: space-between);
}

@include respond(phonelike) {
	.row {
		display: block;

		> div {
			// important to override inline css from XSLT
			// scss-lint:disable ImportantRule
			display: block;
			max-width: none !important;
			padding-left: 0 !important;
			padding-right: 0 !important;
			width: 100% !important;
		}
	}
}
