/* wc.ui.legend.scss */
@import 'mixins_common.scss';

legend {
	.noborder > & {
		padding-left: 0;
	}

	.notext > & {
		@include offscreen();
	}

	.wc_req > &:before {
		@include mandatory-indicator;
		float: right;
	}

	.wc_req.notext > &:before {
		content: '';
	}
}
