/* wc.ui.listLayoutIcons.scss */
@import 'mixins-common';

.wc_ll_flat.wc_ll_dot > li + li:before { // dot bullets should be default but need pseudo-elements for flat lists.
	@include wc-icon($fa-var-circle);
	font-size: 6px;
	line-height: 1;
	margin-right: $wc-gap-normal;
	vertical-align: 3px;
}
