/*
 * wc.ui.menu.barColumn.dt.scss
 * Desktop styles for WMenu type BAR, type FLYOUT, type COLUMN
 */
@import "wc.ui.menu_vars.scss";

.submenu {
	[role="menubar"] &, [role="menu"] & {
		position:relative;
	}
	&[aria-expanded="true"] > [role="menu"] {
		@include border;
		box-shadow: 3px 3px 3px $wc_ui_color_shadow;
		min-width:100%;
		position: absolute;
		width:auto;
	}
	> [role="menu"][aria-busy] {
		min-height: $lineSize;
		background-color: $wc_ui_menu_bg !important;//override aria-busy transparency
	}
}
[role="menu"] {
	[role="menu"] { //nested sub-menus
		top: 0;
		left: 100%;
		&.wc_coleast {//nested collisions
			right:100%;
		}
		&.wc_colwest {
			right: 100%;
		}
	}
	//viewport edge collisions
	&.wc_coleast {
		left: auto;
		right: 0;
	}
	&.wc_colwest {
		left: 100%;
		right: auto;
	}
	&.wc_colsth {
		bottom: 0;
		top: auto;
	}
}
/* end wc.ui.menu.barColumn.dt.scss*/