/* wc.ui.panel.footer.scss */
// WPanel Type.FOOTER
// This CSS for the page footer
@import 'wc.ui.panel_vars.scss';

footer.wc-panel {
	background-color: $wc-ui-color-panel-footer-background;
	color: $wc-ui-color-panel-footer-foreground;
	padding: $hgap-normal;
}
