/* wc.ui.feedback.messages.scss */

// Common states for foreground aspects of messages
// NOTE: the element selector is required here for error messages as we need to differentiate the message from the
// element in an error state when both have the same class.
ul {
	&.error,
	&.info,
	&.warn,
	&.success {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
}
