/* wc.ui.togglebutton.scss */
@import 'mixins-common';

.wc-togglebutton {
	@include border;
	background-color: $wc-ui-color-highlight-bg;
	border-radius: $wc-togglebutton-slider-width;
	cursor: pointer;
	height: $wc-togglebutton-slider-width;
	outline: 0;
	position: relative;
	transition: $wc-togglebutton-transition;
	user-select: none;
	width: $wc-togglebutton-width;

	&:after {
		@include border;
		background-color: $wc-ui-color-highlight-bg;
		border-radius: $wc-togglebutton-slider-width;
		content: '';
		display: block;
		height: calc(100% - $wc-togglebutton-double-border-width);
		left: 0;
		position: relative;
		transition: $wc-togglebutton-transition-slider;
		width: 50%;
	}

	&:hover:after {
		will-change: padding;
	}

	&:active:after {
		padding-right: 0.8em;
	}

	&.wc_ro:active:after {
		padding-right: 0;
	}

	&:before {
		display: none;
	}

	&.wc_ro_sel,
	&[aria-checked='true'] {
		background-color: $wc-ui-color-togglebutton-selected;

		&:after {
			left: calc(50% - $wc-togglebutton-double-border-width);
		}

		&[disabled] {
			background-color: $wc-ui-color-disabled-bg;
		}
	}

	&.wc_ro {
		background-color: $wc-ui-color-global-bg;
	}

	> span {
		@include offscreen;
	}
}
