/* wc.ui.menu.barColumn.icon.scss */
// The opener iconoiography for WMenu type BAR, type FLYOUT, type COLUMN.
@import 'wc.ui.menu_vars.scss';

[role='menubar'] > .wc-submenu {
	> button::after {
		@include make-box;
		@include background-image($url: '../images/down.png', $height: 1em, $width: 1em, $y: 0);
		content: ' ';
		margin-left: $wc-ui-menu-bar-column-opener-indicator-before-after;
		vertical-align: text-top;
	}

	> [disabled]::after {
		background-image: url('../images/down-d.png');
	}
}

[role='menu'] .wc-submenu {
	> button .wc-decoratedlabel::after {
		@include make-box($display: table-cell, $width: 1em, $height: auto);
		@include background-image($url: '../images/next.png', $height: 1em, $width: 1em);
		content: ' ';
		min-width: 1em;
		padding-left: $wc-ui-menu-bar-column-opener-indicator-before-after;
	}

	> [disabled] .wc-decoratedlabel::after {
		background-image: url('../images/next-d.png');
	}
}

.closesubmenu::before {
	@include make-box($width: 1em);
	@include background-image($url: '../images/previous.png', $height: 1em, $width: 1em, $x: 0);
	content: ' ';
	margin-right: 0.5em;
	vertical-align: text-bottom;
}

.closesubmenu[disabled]::before {
	background-image: url('../images/previous-d.png');
}
