@import 'mixins_common.scss';

$wc-ui-color-panel-action-header-background: $std-color-secondary;
$wc-ui-color-panel-action-header-foreground: $std-color-secondary-accent;
$wc-ui-color-panel-action-background: $std-color-white;
$wc-ui-color-panel-action-border: $std-color-secondary;
// Type.CHROME uses section colours.
// Type.FEATURE
$wc-ui-color-panel-feature-background: $std-color-tertiary;
$wc-ui-color-panel-feature-foreground: $std-color-tertiary-accent;
// Type.FOOTER
$wc-ui-color-panel-footer-background: $std-color-tertiary;
$wc-ui-color-panel-footer-foreground: $std-color-tertiary-accent;
// Type.HEADER
$wc-ui-color-panel-header-background: $std-color-primary;
$wc-ui-color-panel-header-foreground: $std-color-primary-accent;
