/* wc.ui.messagesBox.scss */
@import 'mixins_common.scss';

.wc_msgbox {
	@include border;
	background-color: $wc_ui_color_globalBackground;
	min-height: 0;
	padding: 0 0 $vgap_normal;

	> h1 {
		color: $std_color_white;
		font-size: 1.25em;
		font-weight: normal;
		margin-top: 0;
		padding: $vgap_normal $hgap_small;

		&:before {
			display: inline-block;
			margin-right: $hgap_small;
			vertical-align: text-top;
		}
	}

	> button {
		padding: $vgap_normal $hgap_small;
	}

	// message types - there can only be one type per box
	&.error {
		border-color: $wc_ui_color_errorForeground;

		> h1 {
			background-color: $wc_ui_color_errorForeground;

			&:before {
				content: url('../images/error.png');
			}
		}
	}

	&.warn {
		border-color: $wc_ui_color_warningForeground;

		> h1 {
			background-color: $wc_ui_color_warningForeground;

			&:before {
				content: url('../images/warning.png');
			}
		}
	}

	&.info {
		border-color: $wc_ui_color_infoForeground;

		> h1 {
			background-color: $wc_ui_color_infoForeground;

			&:before {
				content: url('../images/information.png');
			}
		}
	}

	&.success {
		border-color: $wc_ui_color_successForeground;

		> h1 {
			background-color: $wc_ui_color_successForeground;

			&:before {
				content: url('../images/success.png');
			}
		}
	}

	li { //maintain white space on messages.
		white-space: pre-wrap;
	}
}
/* end wc.ui.messagesBox.scss */
