/* wc.ui.multiFormComponentIcons.scss */
// WMultiTextField and WMultiDropdown action buttons (+/-)
@import 'mixins-common.scss';

.wc_mfc {
	input,
	select {
		max-width: calc(100% - 2em);
	}

	button {
		margin-left: $hgap-small;

		&:before {
			color: $wc-ui-color-error-fg;
			content: $fa-var-minus-square;
		}

		&[disabled]:before {
			color: $wc-ui-color-disabled-fg;
		}
	}

	li:first-child button {
		&:before {
			color: $wc-ui-color-success-fg;
			content: $fa-var-plus-square;
		}

		&[disabled]:before {
			color: $wc-ui-color-disabled-fg;
		}
	}
}
