/* wc.ui.skipLinks.scss */
@import 'vars_all.scss';

.skipLinks {
	height: 0;
	left: 0;
	position: absolute;
	text-align: center;
	top: 0;
	vertical-align: middle;
	width: 100%;

	a {
		left: -9999px;
		position: absolute;

		&:focus {
			background-color: $wc-ui-color-global-bg;
			color: $wc-ui-color-global-fg;
			display: inline-block;
			padding: $hgap-normal;
			position: static;
			z-index: 100;
		}
	}
}
/* end wc.ui.skipLinks.scss */
