/* wc.ui.textarea.scss */
@import 'mixins-common';

// the ticker
textarea + output {
	@include border($color: -1);
	@include border($pos: top, $width: 0);
	display: block;
	margin-top: -$border-width;
	padding: $wc-gap-small;
	position: absolute;
	z-index: $z-index-common;

	&:before { // show the number of chars remaining
		content: attr(value);
		font-size: 85%;
	}

	dialog & {
		z-index: $z-index-common-in-dialog;
	}
}


// A readonly textarea must preserve whitespace so uses a pre element (for IE compatibility) so we need to override PRE
// defaults and set whitespace and wrapping to textarea-like settings.
//scss-lint:disable QualifyingElement
pre.wc_ro {
	@include margin($size: 0);
	font-family: inherit;
	white-space: pre-wrap;
	word-wrap: break-word;
}
