/* wc.ui.panel.feature.scss */
// type FEATURE
// 'The feature panel is highlighted by a background colour and border.'
@import 'wc.ui.panel_vars.scss';

.feature {
	@include border;
	background-color: $wc-ui-color-panel-feature-background;
	color: $wc-ui-color-panel-feature-foreground;
	padding: $hgap-normal;
}
