/* wc.ui.table.rowSelection.scss */
@import 'wc.ui.table.rowSelection_vars.scss';

// IE9 bug: in IE9 we have to reset the width of the selector cell to auto because when it is 1em the cell takes over
// all available space in the table, so in IE8 and below we have to reset it.
.wc_table_sel_wrapper {
	height: 1em;
	text-align: left;
	width: 0.25em;
}
