/* wc.ui.calendar.dt.scss */
@import 'mixins-common';
// The calendar container is a single generated element with a fixed id.
// scss-lint:disable IdSelector
@include respond-not-small {
	#wc_calbox { // This is the calendar container.
		@include border; // or box-shadow: Xpx Ypx Zpx $wc-ui-color-shadow; but not both
		@include fit-content;
		height: auto;
		left: auto;
		position: absolute;
		right: 0;
		top: auto;

		&.wc_colwest { // right collision
			left: 0;
			right: auto;
		}

		dialog & {
			position: fixed;
			right: auto;
		}
	}

	#wc_calendar {
		font-size: inherit;
	}

	.wc_wdf_pick {
		line-height: inherit;
		max-width: none;
	}
}
