/* wc.ui.panel.header.scss */
// This contains CSS for WPanel Type.HEADER which is used to make the page header (role banner) and is most commonly
// over-ridden.
@import 'panel_vars';

[role='banner'] h1 {
	font-size: 2.25rem;
	font-weight: lighter;
	margin: 0;
	padding: $vgap-normal $hgap-normal;
}

@include respond-phonelike {
	[role='banner'] > :first-child {
		@include flex($direction: row-reverse, $wrap: wrap, $justify: space-between, $align-items: center);
	}
}
