/* wc.ui.legend.scss */
@import 'mixins-common';

legend {
	.wc_noborder > & {
		padding-left: 0;
	}

	.wc_notext > & {
		@include offscreen();
	}

	.wc_req > &:before {
		@include mandatory-indicator;
		float: right;
		width: 0; // allow for wrapping legends.
	}
}
