/* wc.ui.timeoutWarn.scss */
@import 'vars_all.scss';

// timeout warning container is generated and identified.
// scss-lint:disable IdSelector
#wc_session_container {
	background-color: $wc-ui-color-global-bg; // to make it opaque;
	bottom: 0;
	position: fixed;
	right: 0;
	width: 35em;
	z-index: $z-index-unloading-message; // z-index needs to be above dialogs, unloading shims etc
}
