/* wc.ui.multiSelectPair.scss */
@import 'mixins-common';

.wc-multiselectpair {
	white-space: nowrap;

	> span,
	> label {// The containers for the parts of the multiSelectPair
		display: inline-block;
		vertical-align: top;

		+ span,
		+ label {
			margin-left: 1px;
		}
	}

	.wc-fieldindicator {
		display: block;
	}

	.wc-lbltext {
		display: block;
	}

	select { //Allow the select to grow with the label.
		min-width: 100%;
	}

	.wc_msp_btncol button { // the add and remove buttons
		display: block;

		&[value='rem'] { //a small gap between the add and remove buttons
			margin-top: $wc-gap-normal;
		}
	}
}

@import 'wc.ui.multiSelectPairIcons';
