/* wc.ui.panel.borderLayout.ie9.scss */
.wc_borderlayout_middle {
	> div {
		box-sizing: border-box;
		display: inline-block;
		vertical-align: text-top;

		&.wc_borderlayout_middle25 {
			width: 25%;
		}

		&.wc_borderlayout_middle50 {
			width: 50%;
		}

		&.wc_borderlayout_middle75 {
			width: 75%;
		}

		&.wc_borderlayout_middle100 {
			width: 100%;
		}
	}
}
