/* wc.ui.menu.tree.scss */
@import 'wc.ui.menu_vars.scss';

[role='tree'] [role='treeitem'],
[role='treeitem'][aria-expanded] > button {
	padding: $wc-ui-menu-tree-item-pad;
}

[role='treeitem'] {
	[role] {
		display: table;
	}

	> [role='group'] {
		display: block;
		padding: 0 0 0 $wc-ui-menu-tree-indent;
	}

	&.wc-submenu:hover {
		background-color: inherit;
	}
}
