/* wc.ui.menu.barColumn.scss */
// for WMenu type BAR, type FLYOUT, type COLUMN
@import 'wc.ui.menu_vars.scss';

[role='menu'] { //this role is any part of a COLUMN menu and submenus of a BAR or FLYOUT
	> [role],
	> .wc-submenu > button {
		padding: $wc-ui-menu-bar-column-item-pad;
	}

	&[aria-expanded='true'] {
		z-index: $z-index-common;

		dialog & {
			z-index: $z-index-common-in-dialog;
		}
	}
}

[data-wc-menufixed='true'] {
	.wc-submenu[aria-expanded='true'] [role='menu'] {
		@include border-box;
		// important to override the default for aria-busy areas. Transparent sub-menus help no-one and it may seem that we are not loading.
		// scss-lint:disable ImportantRule
		background-color: $wc-ui-color-global-bg !important;
		height: 100%;
		left: 0;
		overflow: auto;
		position: fixed;
		top: 0;
		width: 100%;

		> [role] {
			font-size: 1.25em;
		}
	}

}
