/* wc.ui.combo.scss */
@import 'mixins-common';

// This redundant rule is not as redundant as you might think so just leave it be!
datalist {
	display: none;
}

[role='combobox'] {
	@include border($color: $wc-ui-color-border-form-control);
	display: inline-block;
	position: relative;
	white-space: nowrap;

	@if ($wc-ui-color-disabled-bg != -1) {
		&[aria-disabled='true'] {
			background-color: $wc-ui-color-disabled-bg;
		}
	}

	> input {
		border: 0 none;
	}

	@if ($wc-ui-color-error-bg != -1) {
		// The whole combo is invalid but we only want to apply the background color to the textbox.
		&[aria-invalid='true'] > input {
			background-color: $wc-ui-color-error-bg;
		}
	}

	> [role='listbox'] {
		left: $wc-border-width * -1;
		min-width: 100%;

		dialog & {
			left: auto;
			min-width: initial;
		}
	}

	&[aria-expanded='false'] > [role='listbox'] {
		display: none;
	}

	> button {
		@include border($width: 0); // remove the generic wc_btn_icon border.
		@include border($pos: left);
		@include margin($pos: left);
		&:before {
			content: $fa-var-caret-down;
		}
	}
}
