/* wc.ui.comboIcons.scss */
@import 'mixins-common';

.wc_list_wrapper:before {
	@include wc-icon-fw($fa-var-caret-down);
	position: absolute;
	right: 0.25rem; // The fixed icon width div 4 - it works!
	top: 0.25rem;
}
