/* wc.ui.multiFormComponent.scss */
// WMultiTextField and WMultiDropdown
@import 'vars_all.scss';

.wc_mfc {
	white-space: nowrap;

	ul {
		&.error,
		&.warn,
		&.info,
		&.success {
			white-space: normal;
		}
	}

	li + li {
		margin-top: $vgap-small;
	}
}
