/* wc.ui.dialog.scss */
// The actual dialog. Its position is set on open such that it sits in the middle of the viewport. Margin:auto only
// works in Chrome and Webkit.
@import 'wc.ui.dialog_vars.scss';

dialog {
	background: transparent;
	border: 0 none; // oh chrome, you try so hard to annoy me
	display: none;
	position: fixed;
	z-index: 20;

	&[open] {
		@include flex($direction: column);
		@include flex-shrink(0);
	}

	> [aria-live] { // dialog content container
		@include border;
		background-color: $wc-ui-color-global-bg;
		overflow: auto;
		padding: $hgap-normal;

		&[aria-busy='true'] { // override usual transparency of busy elements because that's just wierd with a dialog's content.
			//scss-lint:disable ImportantRule
			background-color: $wc-ui-color-global-bg !important;
		}
	}

	> header,
	> footer { // top and bottom bars of dialog
		background-color: $wc-ui-color-dialog-head-bg;
	}

	> header {
		@include flex($direction: row-reverse, $wrap: wrap, $justify: space-between, $align-items: center);

		> h1 { // the title
			@include flex-grow(1);
			color: $wc-ui-color-dialog-head-fg;
			font-size: 1em;
			margin: 0;
		}

		> span { // the header control 'block'
			@include flex-align-self(flex-start);
			line-height: 0;
			margin-right: 0.25em;
		}
	}

	> footer {
		display: none; // only show footer is resizeable AND using desktop css - see wc.ui.dialog.dt.scss
	}
}

// dialog close control
// NOTE: for resize handle and max/restore control see wc.ui.resizeable.scss.
.wc_dialog_close.wc_btn_nada {
	background-image: url('../images/dialog-close.sprite.png');
	height: 16px;
	width: 16px;

	&:focus,
	&:hover {
		background-position: 100% 0;
	}
}
/* end wc.ui.dialog.scss */
