/* wc.ui.fileUpload.ie11.scss */
@import 'mixins_common.scss';

.wc-fileupload .wc-file {
	padding-right: 3px; // IE11 cannot calc 100% - 1.333 em and set a right pad in em at the same time. Useless POS.
}

// The default file upload in IE is a bit ugly if anything is styled at all. This CSS may be considered lipstick. If we
// cannot style the pseudo elements (IE9-) then it can remain ugly.
//scss-lint:disable VendorPrefix
input[type='file'] {
	background-color: $wc-ui-color-global-bg;
	padding: 0;

	&::-ms-browse { // pseudo-element ::-ms-browse on its own has detrimental effects on all buttons!!
		@include border($width: 0);
	}

	&::-ms-value {
		@include border($width: 0);
		background-color: inherit;
		margin: 0;
	}

	&[disabled] {
		background-color: $wc-ui-color-disabled-bg;
	}
}
