/* wc.ui.table.pagination.pattern_safari.scss */
@import 'mixins_common.scss';

.wc_table_pag_cont .wc_ibtn {
	padding: $hgap-normal;

	@include respond(mobile) {
		font-size: inherit;
		padding: 0;
	}
}
