/* wc.ui.table.pagination.ie8.scss */
@import 'mixins-common';

.wc_table_pag_cont {
	label,
	select,
	select + button { // no first of type
		margin-left: $wc-gap-large;
	}

	button + button {
		&:before {
			content: $fa-var-angle-left;
		}
		// IE8 sucks, we need this nesting depth
		//scss-lint:disable NestingDepth
		+ button {
			&:before {
				content: $fa-var-angle-right;
			}

			+ button:before {
				content: $fa-var-angle-double-right;
			}

		}
	}
}
