/* wc.ui.loading.color.scss */
// styling for the loading indicator that appears for page reloads and AJAX regions
@import 'mixins-common';

// loading indicator is generated and identified
//scss-lint:disable IdSelector
#wc_ui_loading div {
	background-color: $wc-ui-color-global-bg;
	color: $wc-ui-color-global-fg;
}

// (Usually ajax) busy areas
// We make the background of the busy element transparent and set all of its children to visibility:hidden so the
// element appears to just vanish and leave its loading indicator You may want to change this (a Cheshire cat maybe?).
[aria-busy='true'] {
	// Some of these properties have to be important to over-ride specific component's rules
	// scss-lint:disable ImportantRule
	background-color: transparent !important;
	// scss-lint:enable ImportantRule
	color: $wc-ui-color-disabled-fg;
}
