/* wc.ui.panel.flowLayout.ie9.scss */

div {
	.wc-flowlayout > & {
		vertical-align: text-top;
		width: auto;
	}

	.wc_fl_baseline > & {
		vertical-align: baseline;
	}

	.wc_fl_bottom > & {
		vertical-align: bottom;
	}

	.wc_fl_middle > & {
		vertical-align: middle;
	}

	.wc_fl_vertical > & {
		display: block;
		vertical-align: inherit;
		width: initial;
	}
}

.wc_fl_center {
	text-align: center;
}
