/* wc.ui.heading.scss */
// This file is purposely left as a stub for easy over-ride.
// This is why this file has colors in it.
@import 'mixins-common';

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $wc-ui-color-heading;
	margin: $wc-gap-normal 0;
}

h1,
h2,
h3,
h4 {
	.wc_nti {
		vertical-align: text-bottom;

		img {
			vertical-align: middle;
		}
	}
}
