/* wc.ui.media.player.scss */
// styles for WAudio and WVideo when the media is not able to be handled by the user agent natively. */
@import 'mixins_common.scss';

.src,
.track {
	display: inline-block;

	&:before {
		@include make-box;
		content: '';
		margin-right: $hgap-small;
		vertical-align: text-bottom;
	}
}

.wc_av_play {
	@include button;
	@include background-image-icon('../images/play.png');

	&[aria-pressed='true'] {
		background-image: url('../images/pause.png');
	}
}

.src:before {
	@include background-image-icon($url: '../images/play.png');
}

.track:before {
	@include background-image-icon($url: '../images/application-smil.png');
}

.track + .track,
.src + .src {
	margin-left: $hgap-normal;
}
/* end wc.ui.media.player.scss */
