/*
  wc.common.loading.ie10.css

	IE10 does not support SVG animation.
*/
@import "vars_all.scss";

#wc_ui_loading div{
	padding: $vgap_large $vgap_large $vgap_large 50px;
	background-image: url(../images/loading.gif);
	background-position: $vgap_large 50%;
	&:before {
		content:"";
		display:none;
	}
}

/*
 * ajax busy areas
 * min-width and min-height needed to ensure that first load (where we have no content yet)
 * still displays the loading indicator - otherwise we are setting the background image on
 * a container of 0px width and height
 * We make the background of the busy element transparent and set all of its children to
 * visibility:hidden so the element appears to just vanish and leave its loading indicator
 * You may want to change this (a Cheshire cat maybe?)
 */
[aria-busy="true"]{
	background-image : url(../images/loading-dark.gif) !important
}

/* end wc.common.loading.ie10.css */