/* wc.ui.multiFormComponent.icons.scss */
// WMultiTextField and WMultiDropdown action buttons (+/-)
@import 'mixins_common.scss';

.wc_mfc {
	button {
		@include background-image($url: '../images/delete.png', $reset-size: 1em);
		@include button($border: 0, $padding: 0);
		margin-left: $hgap-small;
		vertical-align: middle;

		&[disabled] {
			background-image: url('../images/delete-d.png');
		}
	}

	li:first-child button {
		background-image: url('../images/add.png');

		&[disabled] {
			background-image: url('../images/add-d.png');
		}
	}
}
