/* wc.ui.root.css */
@import 'mixins_common.scss';

noscript p {
	@include border($width: 3px, $color: $wc_ui_color_errorForeground);
	background-color: $wc_ui_color_globalBackground;
	color: $wc_ui_color_globalForeground;
	font-size: 2em;
	font-weight: bold;
	margin: 1em;
	padding: 1em;
	text-align: center;
}
/* end wc.ui.root.css */
