/* wc.ui.menu.barColumn.scss */
// for WMenu type BAR, type FLYOUT, type COLUMN
@import 'menu_vars';

[role='banner'] [data-wc-menufixed] {
	display: inline-block;

	> .wc-submenu > button {
		padding: $hgap-small;
	}
}

// full screen sub menus
[role='menu'][aria-expanded='true'] {
	@include border-box;
	height: 100%;
	left: 0;
	overflow: auto;
	position: fixed;
	top: 0;
	width: 100%;

	> [role] {
		font-size: 1.25rem;
	}
}
