/* wc.ui.backToTop.scss */
@import 'mixins-common';

/// The back to top of page link.
.wc_btt {
	bottom: 1rem;
	opacity: 0.5;
	position: fixed;
	right: 1rem;
	text-decoration: none;

	&:before {
		display: block;
		font-size: 1.5rem;
		line-height: inherit;
		text-align: center;
		vertical-align: middle;
	}

	> span {
		@include offscreen;
	}
}
