/* wc.ui.dateField.dt.scss */
@import 'mixins_common.scss';
// The calendar container is a single generated element with a fixed id.
// scss-lint:disable IdSelector
#wc-calbox { // This is the calendar container.
	@include border; // or box-shadow: 3px 3px 3px $wc-ui-color-shadow; but not both
	position: absolute;
	right: 0;

	&.wc_colsth { // bottom collision
		bottom: 110%;
	}

	&.wc_colwest { // right collision
		left: 0;
		right: auto;
	}

	dialog & {
		position: fixed;
		right: auto;
	}
}

#wc-calendar {
	background-color: $wc-ui-color-global-bg;

	thead button {
		min-width: $line-size;
	}
}

.wc_wdf_mv {
	&:before {
		@include use-symbol-font;
		vertical-align: middle;
	}

	&[value='-1']:before {// back a month
		content: '\25c0';
	}
	&[value='1']:before {// forwards a month
		content: '\25b6';
	}
	&[value='t']:before {//go to today
		content: '\25cf';
	}
}

// do not display the close buttton unless we are in a mobile scenario (ESC works)
.wc_wdf_cls {
	display: none;
}
