@import 'vars_all.scss';
// thead
$wc-ui-color-table-head-bg: $std-color-primary;
$wc-ui-color-table-head-fg: $std-color-primary-accent;
$wc-ui-color-table-head-disabled: $wc-ui-color-disabled-fg;
// tfoot
$wc-ui-color-table-foot-bg: $std-color-primary;
$wc-ui-color-table-foot-fg: $std-color-primary-accent;
// all cells
$table-cell-padding: 0.25em;
