/*
 * wc.ui.selectToggle.ie8.css
 */
.wc_seltog {
	&[role="checkbox"] {
		height: 12px;
		width: 12px;
		&:before {
			content: url(../images/checkbox.ie8.png);
			display: inline-block;
			height: 12px;
			width: 12px;
		}
		&[aria-checked="true"]:before {
			content: url(../images/checkbox-s.ie8.png);
		}
		&[aria-checked="mixed"] {
			&:before {
				content: url(../images/checkbox-d.ie8.png);
			}
			&[disabled]:before {
				content: url(../images/checkbox-i-d.ie8.png);
			}
		}
		&[disabled] {
			&:before, &[aria-checked]:before {
				content: url(../images/checkbox-d.ie8.png);
			}
		}
	}
}
/* end wc.ui.selectToggle.ie8.css */