/* wc.ui.selectToggle.scss */
// only text mode

@import 'mixins-common';

.wc_seltog {
	> button {
		cursor: pointer;
		margin-left: $wc-gap-normal;
		text-decoration: underline;

		&:first-child {
			margin-left: 0;
		}
	}

	&[role='checkbox']  + label {
		margin-left: $wc-gap-small;
	}
}
