/* wc.ui.multiSelectPair.icons.scss*/
@import "mixins_common.scss";

.wc_msp_btncol button {
	text-align: center;
	//padding: 1px 3px;
	&:before{
		content: url(../images/next.png);
		display: inline-block;
		vertical-align: middle;
	}
	+ button:before {
		content: url(../images/last.png);
	}
	+ button + button:before {
		content: url(../images/previous.png);
	}
	+ button + button + button:before{
		content: url(../images/first.png)
	}
	&[disabled] {
		&:before{
			content: url(../images/next-d.png);
		}
		+ [disabled]:before {
			content: url(../images/last-d.png);
		}
		+ [disabled] + [disabled]:before {
			content: url(../images/previous-d.png);
		}
		+ [disabled] + [disabled] + [disabled]:before{
			content: url(../images/first-d.png)
		}
	}
}
/* end wc.ui.multiSelectPair.icons.css*/