/* wc.ui.menu.barColumn.scss */
// for WMenu type BAR, type FLYOUT, type COLUMN
@import 'wc.ui.menu_vars.scss';

[role='menu'] { //this role is any part of a COLUMN menu and submenus of a BAR or FLYOUT
	> [role],
	> [aria-expanded] > button {
		padding: $wc-ui-menu-bar-column-item-pad;
	}

	.submenu[aria-expanded='true'] > & {
		z-index: 5;

		dialog & {
			z-index: 25;
		}
	}
}
/* end wc.ui.menu.barColumn.scss */
