/* wc.ui.tabset.dt.scss */
@import 'tabset_vars';

@include respond-not-small {
	// only style left and right tabsets when we have a reasonable sized viewport.
	.wc-tabset {
		&.wc_left {
			@include flex-direction(row);
		}

		&.wc_right {
			@include flex-direction(row-reverse);
		}
	}

	[role='tablist'] {
		.wc_left > &,
		.wc_right > & {
			@include flex-direction(column);
			max-width: $wc-ui-tabset-left-right-tab-width;
			top: 0;

			> [role] + [role] {
				margin-left: 0;
				margin-top: $wc-gap-small;
			}

			> [aria-selected='true'] {
				@include border($pos: bottom);
			}
		}

		.wc_left > & {
			left: $border-width;

			[role='tab'] {
				@include wc-ui-tabset-left-border-radius;

				&[aria-selected='true'] {
					@include border($pos: right, $width: 0);
				}
			}

		}

		.wc_right & {
			right: $border-width;

			[role='tab'] {
				@include wc-ui-tabset-right-border-radius;
				text-align: right;

				&[aria-selected='true'] {
					@include border($pos: left, $width: 0);
				}
			}
		}
	}
}
