/* wc.ui.menu.color.scss */
// Colour styles common to all menus: made to ease theme overrides a little.
// See wc.ui.menu.css for generic structure.
@import 'menu_vars';

[role='menubar'].wc_mn_bar,
[role='menu'] {
	background-color: $wc-ui-color-menu-bg;
	color: $wc-ui-color-menu-fg;

	[aria-busy] {
		// override aria-busy transparency
		// scss-lint:disable ImportantRule
		background-color: $wc-ui-color-menu-bg !important;
	}
}

// selected elements
// * WARNING: using the .class [role][aria-checked='true'] shorthand here will cause ANY element with an aria-checked
// state to take on these styles. This shouldn't be a problem but I have left it with the longer form to allow for
// odd/weird/stupid component nesting. Anyone want to put a WSelectToggle into a WMenuItem? it is possible...
[role^='menuitem'][aria-checked='true'] {
	background-color: $wc-ui-color-highlight-bg;
	color: $wc-ui-color-highlight-fg;
}

.wc-submenu[aria-checked='true'] {
	background-color: transparent;
	color: inherit;
}
