/* wc.ui.dialog.dt.scss */
@import 'wc.ui.dialog_vars.scss';

dialog {
	@include border($width: 0);
	height: auto;
	max-width: 100%;
	min-height: $wc-ui-dialog-min-height;
	min-width: $wc-ui-dialog-min-width;

	> footer {
		display: block;
		line-height: 0;
		text-align: right;
	}

	&.wc_dragflow,
	&.wc_resizeflow { // keyboard and resize event initiated drag and resize animation
		transition-delay: $wc-ui-dialog-transition-delay;
		transition-duration: $wc-ui-dialog-transition-duration;
		transition-timing-function: ease-in-out;
	}

	&.wc_dragflow {
		transition-property: left, top;
	}

	&.wc_resizeflow {
		transition-property: height, width;

		&.wc_dragflow {
			transition-property: left, top, height, width;
		}
	}
}
