/* wc.ui.tree.color.scss */
@import 'mixins-common';

[role='tree'] {
	[aria-selected='true'] {
		background-color: $wc-ui-color-selected-bg;
		color: $wc-ui-color-selected-fg;
	}

	&,
	[role='group'] {
		background-color: $wc-ui-color-global-bg;
		color: $wc-ui-color-global-fg;
	}
}
