/* wc.ui.skipLinks.scss */
@import 'vars';

.wc-skiplinks {
	height: 0;
	left: 0;
	position: absolute;
	text-align: center;
	top: 0;
	vertical-align: middle;
	width: 100%;

	a {
		left: -9999px;
		position: absolute;

		&:focus {
			display: inline-block;
			padding: $wc-gap-normal;
			position: static;
			z-index: $z-index-common; // never found in dialogs.
		}
	}
}
