/* wc.ui.tabset.scss */
@import 'mixins_common.scss';
@import 'wc.ui.tabset_vars.scss';

[role='tablist'] {
	//scss-lint:disable ImportantRule
	background-color: transparent !important;

	.top > & {
		@include flex();
		position: relative;
		top: 1px;

		[role='tab'] {
			@include wc_ui_tabset_top_borderRadius;

			&[aria-selected='true'] {
				border-bottom: 0 none;
				position: static;
			}
		}

		> [role] + [role] {
			margin-left: $hgap_small;
		}
	}

	// ACCORDION
	&[aria-multiselectable] {
		@include border;
		border-bottom: 0 none;

		> [role='tabpanel'] {
			@include border($pos: bottom);
		}
	}

	> [role='tab'] {
		// LEFT TABS
		.left > & {
			@include wc_ui_tabset_left_borderRadius;
			border-right: 0 none;
			text-align: left;

			&[aria-selected='true'] {
				left: $borderWidth;
			}
		}

		// RIGHT TABS
		.right > & {
			@include wc_ui_tabset_right_borderRadius;
			border-left: 0 none;
			text-align: right;

			&[aria-selected='true'] {
				right: $borderWidth;
			}
		}
	}


}

[role='tab'] {
	@include paddedBox();
	background-color: $wc_ui_color_tabInactive;
	color: $wc_ui_color_globalForeground;
	cursor: pointer;
	margin: 0;

	&[aria-selected='true'] {
		position: relative;
	}

	&:hover,
	&:focus {
		background-color: $wc_ui_color_tabFocus;
	}

	&[aria-selected='true'],
	[aria-expanded='true'] {
		background-color: $wc_ui_color_tabActive;
	}

	&[disabled] {
		background-color: $wc_ui_color_disabledBackground;
		color: $wc_ui_color_disabledForeground;
	}

	//accordion tabs are expanded
	&[aria-expanded] {
		//scss-lint:disable DeclarationOrder
		border: 0 none;
		@include border($pos: bottom);
		//scss-lint:enable DeclarationOrder
		display: block;
		text-align: left;
		width: 100%;
	}

	&[aria-expanded='true'] {
		border-bottom: 0 none;
	}
}


[role='tabpanel'],
.tabset > [role='presentation'] {
	background-color: $wc_ui_color_globalBackground;
}

.tabset > [role='presentation'] {
	@include border;
	border-top: 0 none;
}

[role='tabpanel'] {
	@include border($pos: top);
	padding: $hgap_normal;

	&[aria-busy='true'] {
		min-height: 16px;
	}
}

// COMMON LEFT and RIGHT TABS
// NOTE: we use display:table and table-cell here to ensure the tabPanel wrapper is at least as tall as the tablist.
// Otherwise funny things happen when the tabPanel has little or no content.
.wc_tab_lr {
	border-collapse: collapse;
	display: table;
	width: 100%;

	> [role] {
		display: table-cell;
		vertical-align: top;
	}

	> [role='tablist'] {
		width: $wc_ui_tabset_leftRight_tab_width;

		> [role='tab'] {
			display: block;
			width: 100%;
		}

		> [role] + [role] {
			margin-top: $vgap_small;
		}
	}
}
/* end wc.ui.tabset.scss */
