/* wc.ui.label.scss */
// styles for WLabel and the label emulators
@import 'label_vars';

.hint {// .hint is additional text for labels that describe other information for the related form element
	@include label-hint;
}

// space between a checkable and its label
[type='radio'] + label,
[type='checkbox'] + label,
.wc_ro + .wc-label {
	margin-left: $wc-gap-small;
}

// use inline-block to prevent a required marker flying off the end
.wc-label {
	display: inline-block;

	&.wc_req {
		@include border-box;
		@include fit-content; // allows for better position of mandatory indicator.
		padding-right: 1em;
		position: relative;

		&:after,
		input[type='checkbox'] + &:before,
		input[type='radio'] + &:before {
			@include mandatory-indicator;
		}

		&:after {
			position: absolute;
			right: $wc-gap-small;
			top: 0;
		}

		[type='radio'] + &:before,
		[type='checkbox'] + &:before {
			margin-right: $wc-gap-small;
		}

		[type='radio'] + &:after,
		[type='checkbox'] + &:after {
			display: none;
		}
	}
}
