/* wc.ui.multiFormComponent.scss */
// WMultiTextField and WMultiDropdown
@import 'mixins-common';

.wc_mfc {
	white-space: nowrap;

	input,
	select {
		max-width: calc(100% - 2em);
	}

	button {
		padding: 1px $wc-gap-small;
	}

	.wc-fieldindicator {
		white-space: normal;
	}


	li + li {
		margin-top: $wc-gap-small;
	}
}
