/* wc.ui.combo.scss */
@import 'mixins-common.scss';

// This redundant rule is not as redundant as you might think so just leave it be!
datalist {
	display: none;
}

input[role='combobox'] {
	padding-right: $line-size; // allow for icon

	&[aria-expanded = 'true'] ~ [role='listbox'] {
		display: block;
		max-height: (7 * ($line-size + (2 * $hgap-small))); // allow for up to seven visible options.
		max-width: 100%;
		overflow: auto;
	}
}

li[role='option'] {
	@include margin($size: 0);
	min-height: 1em;
	padding: $hgap-small;

	&:hover,
	&:focus {
		background-color: $wc-ui-color-invite-bg;
		color: $wc-ui-color-invite-fg;
		cursor: pointer;
	}
}

.wc_list_wrapper {
	position: relative;
}
