/* wc.ui.panel.borderLayout.ie9.scss */
.wc_borderlayout_middle {
	> div {
		box-sizing: border-box;
		display: inline-block;
		vertical-align: text-top;

		&.wc_borderlayout_middle {
			&25 {
				width: 25%;
			}

			&50 {
				width: 50%;
			}

			&75 {
				width: 75%;
			}

			&100 {
				width: 100%;
			}
		}
	}
}
