@import 'vars_all.scss';

$row-disable-opacity: 0.33;

@mixin row-invite {
	background-color: $wc-ui-color-invite-bg;
	//scss-lint:disable DuplicateProperty
	background-color: $wc-ui-color-invite-bg-rgba;
}
