/* wc.ui.table.css */
// This is the core of the table CSS. The other CSS files are used for functional images and other items which are less
// likely to be implementation specific
@import 'wc.ui.table_vars.scss';
@import 'mixins_common.scss';

.table.wc_error {
	@include outline($color: $wc_ui_color_errorForeground, $offset: -1px);
}

table {
	@include border;
	border-collapse: collapse;
	border-spacing: 0;
	min-width: 100%;
}

/* fix the layout of tables where column width is applied */
.wc_table_fix {
	table-layout: fixed;
}

thead {
	background-color: $wc_ui_color_tableHeadBackground;
	color: $wc_ui_color_tableHeadForeground;

	[disabled] {
		//scss-lint:disable ImportantRule
		color: $wc_ui_color_tableHeadDisabled !important;
	}
}

tfoot {
	background-color: $wc_ui_color_tableFootBackground;
	color: $wc_ui_color_tableFootForeground;
}

th,
td {
	padding: $tableCellPadding;
}

tbody {
	td,
	th {
		vertical-align: top;
	}
}

.wc_table_rowexp_container,
.wc_table_sel_wrapper {
	text-align: center;
	vertical-align: text-top;
}

//scss-lint:disable QualifyingElement
th.wc_table_rowexp_container,
th.wc_table_sel_wrapper { // reset the vertical alignment of th with these classes
	vertical-align: inherit;
}

.wc_table_colauto {
	max-width: $lineSize;
	width: $lineSize;
}

// Column Striping.
// Row striping: You'd think tr:nth-child(even) would be enough. You'd be wrong - that does not account for sub rows.
col.wc_table_stripe,
tr.wc_table_stripe {
	background-color: $wc_ui_color_highlight_bg;
}
/*end wc.ui.table.css*/
