/* wc.ui.panel.borderLayout.ie10.scss */
//scss-lint:disable VendorPrefix
.wc_borderlayout_middle {
	display: -ms-flexbox;
	-ms-flex-align: start;
	-ms-flex-direction: row;
	-ms-flex-pack: justify;

	> div {
		-ms-flex: 1 1 25%;
	}

	> .wc-center {
		-ms-flex: 1 1 50%;

		&:first-child,
		&:last-child {
			-ms-flex: 1 1 75%;
		}
	}
}
