/* wc.ui.loading.color.scss */
// styling for the loading indicator that appears for page reloads and AJAX regions
@import 'mixins-common';

// loading indicator is generated and identified
// scss-lint:disable IdSelector
#wc-ui-loading div {
	background-color: $wc-ui-color-global-bg;
	color: $wc-ui-color-global-fg;
}
// scss-lint:enable IdSelector

// (Usually ajax) busy areas
// We make the background of the busy element transparent and set all of its children to visibility:hidden so the
// element appears to just vanish and leave its loading indicator You may want to change this (a Cheshire cat maybe?).
[aria-busy='true'] {
	color: $wc-ui-color-busy-fg;

	&:before {
		color: $wc-ui-color-busy-loading-icon;
	}
}

input,
select,
textarea {
	&[aria-busy='true'] {
		border-color: $wc-ui-color-busy-input-border;
	}
}
