/* wc.ui.menu.tree.scss */
@import 'menu_vars';

// TODO: try to work WMenu Type TREE to be more like WTree so we can get rid of this.
.wc-menu [role='treeitem'] {
	&,
	& > button {
		padding: $wc-tree-item-pad;
	}

	&[aria-expanded] > button > .wc-decoratedlabel {
		display: inline-table;
		width: calc(100% - #{$wc-ui-menu-tree-iconwidth}); // allow for icon.
	}
}
