/* wc.ui.menu.bar.mob.scss */
// Turn BAR menu in the header into a hamburger icon.
@import 'wc.ui.panel_vars.scss'; // for the header foreground color - NOTE this imports mixins_common.scss.

[role='banner'] [role='menubar'] {
	display: inline-block;

	> [role='menuitem']:first-child > button {
		padding: $hgap-small;

		&::before {
			@include make-box;
			content: url('../images/wc.ui.menu.bar.show.mob.svg');
			vertical-align: middle;
		}

		&::after {
			color: $wc-ui-color-panel-header-foreground;
		}
	}
}
/* end wc.ui.menu.bar.mob.scss */
