/* wc.ui.fileUpload.scss */
@import 'mixins_common.scss';

%a-button {
	display: inline-block;
	vertical-align: top;
}

.wc-fileupload {
	a {
		@extend %a-button;
		@include flex-grow(1);
		@include flex-shrink(1);
		max-width: calc(100% - #{$line-size});

		img {
			max-width: 100%;
		}

		~ button {
			@extend %a-button;
			@include flex-shrink(0);
			@include button;
			@include background-image($url: '../images/delete.png', $reset-size: 1em);
			margin-left: $hgap-small;

			&[disabled] {
				background-image: url('../images/delete-d.png');
			}
		}
	}

	.wc-file {
		@include flex($justify: space-between, $align-items: flex-start);
		@include border;
		background-color: $wc-ui-color-highlight-bg;
		color: $wc-ui-color-highlight-fg;
		padding: $hgap-small;
		word-wrap: break-word;
	}

	> .wc_filelist {
		display: table-cell;  // horrendously wrong no doubt but fixes columns
		padding-top: $hgap-small;

		.wc-file + .wc-file {
			margin-top: $vgap-normal;
		}

		&.wc_list_flat {
			.wc-file {
				display: inline-block;
				margin-right: $hgap-small;
				margin-top: $hgap-small;

				// The excessive depth here could be re-written I suppose...
				// scss-lint:disable NestingDepth
				&:last-child {
					margin-right: 0;
				}
				// scss-lint:enable NestingDepth
			}

			a {
				width: auto;
			}
		}
	}

	&[data-wc-cols] {
		> div {
			@include flex($justify: space-between);
			margin-top: $hgap-small;
		}

		ul {
			@include flex-grow(1);

			+ ul {
				margin-left: $hgap-small;
			}
		}

		li + li {
			margin-top: $hgap-small;
		}
	}


	&.wc_dragging [type=file] {
		background-color: $wc-ui-color-invite-bg;  //#c0ffee
		outline: 2px dotted $wc-ui-color-invite-fg;
	}

	.wc_btn_camera {
		@include button($width: 1em, $height: 1em);
		@include background-image($url: '../images/camera-web.png', $height: 1em, $width: 1em);
	}

	input[type='file'][data-editor] {
		max-width: calc(100% - 2em); // leave room for the edit button.

		&,
		+ button {
			vertical-align: bottom;
		}
	}
}
