/* wc.ui.table.pagination.icons.scss */
@import 'mixins_common.scss';

// The deep nesting and repition here is necessitated by IE8's (and earlier)) lack of nth-child
.wc_table_pag_cont .wc_ibtn {
	padding: $vgap-small;
	vertical-align: middle;

	&::before {
		@include make-box($display: block);
		@include background-image('../images/first.png', $height: 1em, $width: 1em);
		content: ' ';
	}

	&[disabled]::before {
		background-image: url('../images/first-d.png');
	}

	&:nth-of-type(2) {
		&::before {
			background-image: url('../images/previous.png');
		}

		&[disabled]::before {
			background-image: url('../images/previous-d.png');
		}
	}

	&:nth-of-type(3) {
		&::before {
			background-image: url('../images/next.png');
		}

		&[disabled]::before {
			background-image: url('../images/next-d.png');
		}
	}

	&:last-of-type {
		&::before {
			background-image: url('../images/last.png');
		}

		&[disabled]::before {
			background-image: url('../images/last-d.png');
		}
	}
}
