/* wc.ui.table.sort.scss */
@import 'mixins-common';

th[aria-sort] {
	cursor: pointer;

	> .wc-decoratedlabel {
		display: inline-block;
		width: calc(100% - 2em); // allow for sort icon
	}
}
