/* wc.ui.menu.tree.scss */
@import 'wc.ui.menu_vars';

.wc-menu[role='tree'] {
	[role='treeitem'] {
		&.wc-submenu {
			padding: 0;

			&:hover {
				background-color: inherit;
			}
		}

		&[aria-expanded] > button > .wc-decoratedlabel {
			display: inline-table;
			width: calc(100% - #{$wc-ui-menu-tree-iconwidth}); // allow for icon.
		}
	}

	[role='treeitem'] > button,
	[role='treeitem'] {
		padding: $wc-tree-item-pad;
	}
}
