/* wc.ui.dialog.ios.css */
@import 'mixins_common.scss';

$wc-color-ios-dialog-bg: #f7f7f7;
$wc-color-ios-dialog-header-border: #a7a7aa;

dialog {
	background-color: $wc-color-ios-dialog-bg;
	border-radius: 2px;

	> [aria-live] {
		background-color: transparent;
		border: 0 none;
	}

	> header {
		@include border($color: $wc-color-ios-dialog-header-border);
		background-color: transparent;

		> h1 {
			color: $wc_ui_color_globalForeground;
			font-size: 17px;
			font-weight: normal;
			margin: 14px 0 7px;
			padding: 0;
			text-align: center;
		}

		span {
			top: 9px;
		}
	}
}
/* end wc.ui.dialog.ios.css */
