/* wc.ui.table.rowExpansion.scss */
@import 'mixins_common.scss';

.wc-rowexpansion {
	&[role='radiogroup'] {
		list-style-type: none;
		margin: 0;
		padding: 0;

		@include respond(phonelike) {
			text-align: left;
		}
	}

	> li {
		display: inline-block;
		width: auto;

		+ li {
			margin-left: $hgap-small;
		}

	}

	// ROW EXPANSION iconography and expand/collapse all iconography.
	// .wc_table_rowexp_container is the expandable row's expander holding cell or header
	button {
		&:before {
			@include use-symbol-font;
			content: '\229e';
			font-size: 1.25em;
			line-height: 0;

			@include reset-large-screen {
				font-size: 1em;
			}
		}

		&[data-wc-value='collapse']:before {
			content: '\229f';
		}
	}
}

[aria-disabled='true'] > .wc_table_rowexp_container button:before {
	opacity: 0.5;
}

.wc-row-indent {
	display: inline-block;
	width: $line-size;
}
