/* wc.ui.listLayout.ie8.scss */
//striped lists need an extra class as :nth-child is not supported.
@import 'vars_all.scss';

.wc_iestripe {
	background-color: $wc-ui-color-highlight-bg;
	color: $wc-ui-color-highlight-fg;
}
