/* wc.ui.panel.header.scss */
// This contains CSS for WPanel Type.HEADER which is used to make the page header (role banner) and is most commonly
// over-ridden.
@import 'wc.ui.panel_vars.scss';

[role='banner'] {
	background-color: $wc-ui-color-panel-header-background;
	color: $wc-ui-color-panel-header-foreground;

	h1 {
		color: $wc-ui-color-panel-header-foreground;
		font-size: 3em;
		font-weight: lighter;
		margin: 0;
		padding: 0.25em 0.3333em;
	}

	a,
	a:visited {
		color: $wc-ui-color-panel-header-foreground;
	}
}
/* end  wc.ui.panel.header.scss */
