/* wc.ui.table.sort.color.scss */
// Column sorting relate to the sorting of data in sortable tables.
// This css covers control elements in the heading cells and the rendering of sorted columns.
@import 'wc.ui.table_vars.scss';

// differentiate col from row.
// scss-lint:disable QualifyingElement
col.wc_table_sort_sorted,
th[sorted] {
	background-color: $wc-ui-color-highlight-bg;
	color: $wc-ui-color-highlight-fg;
}
