/* wc.ui.tabset.ie10.scss */
//scss-lint:disable VendorPrefix
.top > [role='tablist'] {
	display: -ms-flexbox;
	-ms-flex-pack: start;
	-ms-flex-wrap: none;

	> [role='tab'] {
		-ms-flex: 0 1 auto;
	}
}
