/* wc.ui.menu.color.scss */
// Colour styles common to all menus: made to ease theme overrides a little.
// See wc.ui.menu.css for generic structure.
@import 'mixins-common';

.wc-menu-type-bar,
.wc-menu-type-column {
	background-color: $wc-ui-color-menu-bg;
	color: $wc-ui-color-menu-fg;
}

.wc_menu_bar,
.wc-menu-type-column {
	.wc_submenucontent {
		background-color: $wc-ui-color-menu-bg;
		color: $wc-ui-color-menu-fg;
	}
}

// selected elements
.wc-menuitem[aria-checked='true'] {
	background-color: $wc-ui-color-selected-bg;
	color: $wc-ui-color-selected-fg;
}
