/* wc.ui.table.pagination.scss */
@import 'mixins_common.scss';

.wc_table_pag_cont {
	white-space: nowrap;

	label,
	select,
	.wc_ibtn:first-of-type {
		margin-left: $hgap-large;
	}
}

.wc_table_pag_socbtn {
	line-height: 1;
	margin-left: $hgap-small;
}
/* end wc.ui.table.pagination.scss */
