/* wc.ui.menu.barColumn.dt.scss */
// Desktop styles for WMenu type BAR, type FLYOUT, type COLUMN
@import 'wc.ui.menu_vars.scss';

.wc-submenu {
	[role='menubar'] &,
	[role='menu'] & {
		position: relative;
	}

	> [role='menu'][aria-expanded='true'] {
		@include border;
		box-shadow: 3px 3px 3px $wc-ui-color-shadow;
		min-width: 100%;
		position: absolute;
		width: auto;
	}

	> [role='menu'][aria-busy] {
		// override aria-busy transparency
		// scss-lint:disable ImportantRule
		background-color: $wc-ui-color-menu-bg !important;
		min-height: $line-size;
	}
}

[role='menu'] {
	[role='menu'] { // nested sub-menus
		left: 100%;
		top: 0;

		&.wc_coleast { // nested collisions
			right: 100%;
		}

		&.wc_colwest {
			right: 100%;
		}
	}

	// viewport edge collisions
	&.wc_coleast {
		left: auto;
		right: 0;
	}

	&.wc_colwest {
		left: 100%;
		right: auto;
	}

	&.wc_colsth {
		bottom: 0;
		top: auto;
	}
}
