/* wc.ui.timeoutWarn.scss */
@import 'mixins-common';

// timeout warning container is generated and identified.
// scss-lint:disable IdSelector
#wc_session_container {
	@include fit-content($fallback: 25rem);
	background-color: $wc-ui-color-global-bg; // to make it opaque;
	bottom: 0;
	max-width: 100%;
	position: fixed;
	right: 0;
	z-index: $z-index-unloading-message; // z-index needs to be above dialogs, unloading shims etc

	ul {
		list-style-type: none;
		padding-left: $wc-gap-small; 
	}
}
