/* wc.ui.panel.flowLayout.ie10.scss */
//scss-lint:disable VendorPrefix
.wc-flowlayout {
	display: -ms-flexbox;
	-ms-flex-align: start;
	-ms-flex-direction: row;
	-ms-flex-pack: start;
	-ms-flex-wrap: wrap;

	&.baseline {
		-ms-flex-align: baseline;
	}

	&.bottom {
		-ms-flex-align: end;
	}

	&.middle {
		-ms-flex-align: center;
	}

	> div {
		-ms-flex: 0 1 auto;
	}
}
