/* wc.ui.dialogue.ie9.scss */
@import 'wc.ui.dialog_vars.scss';

dialog {
	&[open] {
		display: block;
		margin: 0;
		padding: 0;
	}

	> [aria-live] {
		@include border-box;
		padding: 2em $hgap-normal;
	}

	> header,
	> footer {
		position: absolute;
		width: 100%;
	}

	> header {
		height: 16px;
		overflow: hidden;
		padding: 3px 0;
		top: 0;

		> span {
			margin-right: 0;
			position: absolute;
			right: 3px;
			top: 3px;
		}
	}

	> footer {
		bottom: 0;
	}
}
