/* wc.ui.panel.chrome.ios.scss */
// type CHROME
// 'A panel with a title displayed in a border.'
@import 'mixins_common.scss';

.chrome {
	@include border($color: $wc-color-ios-interactive);

	> h1 {
		@include border($color: $wc-color-ios-interactive);
		background-color: transparent;
		color: $wc_ui_color_globalBackground;
		font-size: 18px;
		font-weight: normal;
		text-align: center;
	}
}
/* end wc.ui.panel.chrome.ios.scss */
