/* wc.common.loading.ie10.scss */
@import 'vars_all.scss';
// loading indicator is generated and identified
//scss-lint:disable IdSelector
#wc_ui_loading div {
	background-image: url('../images/loading.gif'); // IE10 does not support SVG animation.
	background-position: $vgap-large 50%;
	padding: $vgap-large $vgap-large $vgap-large 50px;

	&:before {
		content: '';
		display: none;
	}
}

// ajax busy areas
[aria-busy='true'] {
	// important to override any other background image
	//scss-lint:disable ImportantRule
	background-image: url('../images/loading-dark.gif') !important;
}
