// How wide are the tabs left or right?
$wc-ui-tabset-left-right-tab-width: 15%;

// colors
@import 'vars_all.scss';
$wc-ui-color-tab-inactive: $std-color-tertiary;
$wc-ui-color-tab-focus: $std-color-invite-bg;
$wc-ui-color-tab-active: $std-color-white;

@mixin wc-ui-tabset-top-border-radius {
	border-top-left-radius: 0.33em;
	border-top-right-radius: 0.33em;
}

@mixin wc-ui-tabset-left-border-radius {
	border-top-right-radius: 0;
	border-bottom-left-radius: 0.33em;
}

@mixin wc-ui-tabset-right-border-radius {
	border-top-left-radius: 0;
	border-bottom-right-radius: 0.33em;
}
