/* wc.ui.menu.tree.icon.scss */
// tree menu branch indicators
@import 'wc.ui.menu_vars.scss';

[role='treeitem'] {
	&[aria-expanded] {
		> button {
			@include background-image($url: '../images/next.png', $height: $wc-ui-menu-tree-icon-size, $width: $wc-ui-menu-tree-icon-size, $x: 0);
			padding-left: ($wc-ui-menu-tree-icon-size + $hgap-small);

			&[disabled] {
				background-image: url('../images/../images/next-d.png');
			}
		}
	}

	&[aria-expanded='true'] {
		> button {
			background-image: url('../images/down.png');

			&[disabled] {
				background-image: url('../images/../images/down-d.png');
			}
		}
	}
}
