/* wc.ui.panel.borderLayout.ie9.scss */
.wc_bl_mid {
	> div {
		box-sizing: border-box;
		display: inline-block;
		vertical-align: text-top;

		&.wc_bl_mid25 {
			width: 25%;
		}

		&.wc_bl_mid50 {
			width: 50%;
		}

		&.wc_bl_mid75 {
			width: 75%;
		}

		&.wc_bl_mid100 {
			width: 100%;
		}
	}
}
