/* wc.ui.resizeable.scss
 * Styles for resizeable components and their controlling elements. */

@import "mixins_common.scss";

.wc_max { // maximised:
	@include borderBox;
	height: 100% !important;
	left: 0 !important;
	overflow: auto;
	position: fixed !important;
	top: 0 !important;
	width: 100% !important;
}

/* the resize handle */
.wc_resize {
	cursor: se-resize;
}

/* end of wc.ui.resizeable.scss */