/* wc.ui.dialog.scss */
/*
 * the actual dialog. Its position is set on open such that it sits in the middle of the viewport. Margin:auto only
 * works in Chrome and Webkit.
 */
@import "wc.ui.dialog_vars.scss";

dialog {
	display: none;
	position: fixed;
	z-index: 20;
	border: 0 none; /* oh chrome, you try so hard */
	background: transparent;
	&[open] {
		@include flex($direction: column);
		@include flexShrink(0);
	}
	> [aria-live] { /*dialog content container*/
		overflow: auto;
		background-color: $wc_ui_color_globalBackground;
		@include border;
		padding: $hgap_normal;
		&[aria-busy="true"] { /* override usual transparency of busy elements because that's just wierd with a dialog's content. */
			background-color: $wc_ui_color_globalBackground !important
		}
	}
	> header, > footer {/*top and bottom bars of dialog */
		background-color: $wc_ui_color_dialog_head_bg;
	}
	> header {
		@include flex($direction: row-reverse, $wrap: wrap, $justify: space-between, $align-items: center);
		> h1 { /* the title */
			margin: 0;
			color: $wc_ui_color_dialog_head_fg;
			font-size: 1em;
			@include flexGrow(1);
		}
		> span { /* the heander control 'block' */
			line-height: 0;
			margin-right: 0.25em;
			@include flexAlignSelf(flex-start);
		}
	}
	> footer {
		display: none;/* only show footer is resizeable AND using desktop css - see wc.ui.dialog.dt.scss */
	}
}

// dialog close control
// NOTE: for resize handle and max/restore control see wc.ui.resizeable.scss.
.wc_dialog_close.wc_btn_nada {
	background-image: url(../images/dialog-close.sprite.png);
	height: 16px;
	width: 16px;
	&:focus, &:hover {
		background-position: 100% 0;
	}
}
/*end wc.ui.dialog.css */