/* wc.ui.table.rowExpansion.scss */
@import 'table_vars';
@import 'expand-collapse-all';

.wc-rowexpansion {
	@extend %expand-collapse-all;
}

// The next lot does indentation of "child" rows when the table type is 'heirarchic'
.wc_table_rowexp_container {
	+ td,
	+ th {
		tr[aria-level='2'] > & {
			padding-left: $table-cell-padding-left-right + $table-hierarchic-indent;
		}

		tr[aria-level='3'] > & {
			padding-left: $table-cell-padding-left-right + (2 * $table-hierarchic-indent);
		}

		tr[aria-level='4'] > & {
			padding-left: $table-cell-padding-left-right + (3 * $table-hierarchic-indent);
		}

		tr[aria-level='5'] > & {
			padding-left: $table-cell-padding-left-right + (4 * $table-hierarchic-indent);
		}

		tr[aria-level='6'] > & {
			padding-left: $table-cell-padding-left-right + (5 * $table-hierarchic-indent);
		}
		// Want more? add 'em yourself!
	}
}
