/* wc.ui.resizeable.scss */
@import 'mixins_common.scss';

.wc_max { // maximised:
	// scss-lint:disable ImportantRule
	@include border-box;
	height: 100% !important;
	left: 0 !important;
	overflow: auto;
	position: fixed !important;
	top: 0 !important;
	width: 100% !important;
}

// the resize handle
.wc_resize {
	cursor: se-resize;
}
