/* wc.ui.shuffler.scss */
// Shuffler is a select element where the option order is able to be changed.
// we have a bunch of buttons next to this component, we better make the select at least as high as the button tower.
//scss-lint:disable QualifyingElement
select.wc-shuffler {
	min-height: 8em;
}
