/* wc.ui.row.scss */
@import 'mixins_common.scss';

.wc_row > div {
	@include borderBox;
	display: inline-block;
	vertical-align: top;

	@include respond(phone) {
		//scss-lint:disable ImportantRule
		display: block;
		max-width: none !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
		width: 100% !important;
	}
}
/* end wc.ui.row.scss */
