/* wc.ui.panel.header.color.scss */
// This contains CSS for WPanel Type.HEADER which is used to make the page header (role banner) and is most commonly
// over-ridden.
@import 'panel_vars';

[role='banner'] {
	background-color: $wc-ui-color-panel-header-background;

	// Set the foreground colour of components which have their own defined colour so will not inherit from the
	// container.
	&,
	h1,
	.wc_btn_link,
	a,
	a:visited {
		color: $wc-ui-color-panel-header-foreground;
	}
}
