/* wc.ui.resizeable.icons.scss */
@import 'mixins_common.scss';

//this button selector is required to prevent styling a max.restore header bar
//scss-lint:disable QualifyingElement
.wc_resize,
button.wc_maxcont {
	@include make-box;
}

.wc_resize {
	&,
	&:hover,
	&:focus {
		@include background-image('../images/resize-handle.png', $height: cover, $x: 0, $y: 0);
	}
}

button.wc_maxcont {
	&,
	&:hover,
	&:focus {
		@include background-image('../images/resize-sprite.png', $height: cover, $x: 0, $y: 0);
	}

	&:hover,
	&:focus {
		background-position: 33.34% 0;
	}

	&[aria-pressed='true'] {
		background-position: 66.67% 0;

		&:hover,
		&:focus {
			background-position: 100% 0;
		}
	}
}
