/* wc.ui.panel.chrome.scss */
// type CHROME
// 'A panel with a title displayed in a border.'

@import 'wc.ui.panel_vars.scss';

.chrome > h1 {
	background-color: $wc-ui-color-section-heading-bg;
	color: $wc-ui-color-section-heading-fg;
}
