/* wc.ui.menu.barColumn.icon.scss */
// The opener iconoiography for WMenu type BAR, type FLYOUT, type COLUMN.
@import 'mixins-common';

.wc-submenu-o > .wc-decoratedlabel:after {
	.wc_menu_bar &,
	.wc-menu-type-column & {
		@include wc-icon($fa-var-caret-right);
		display: table-cell;
		padding-left: $wc-menu-bar-column-opener-indicator-before-after;
	}

	.wc_menu_bar > .wc-submenu > & {
		content: $fa-var-caret-down;
	}
}

.wc_hbgr.wc-submenu-o > .wc-decoratedlabel:after { // the hamburger icon,
	display: none;
	margin-left: 0;
}

$wc-closesubmenu-icon-offset: $wc-icon-normal + $wc-gap-small;

.wc_closesubmenu:before {
	content: $fa-var-caret-left;
	margin-right: $wc-gap-small;
}

.wc_hbgr:before {
	content: $fa-var-bars;
}
