/* wc.ui.dateField.ie8.scss */
@import 'mixins_common.scss';

// The calendar container is a single generated element with a fixed id.
// scss-lint:disable IdSelector
#wc-calendar {
	thead {
		td {
			padding: 0;
			vertical-align: bottom;
		}

		input,
		[value='-1'] {
			margin-left: $hgap-large;
		}
	}
}
