/* wc.ui.table.pagination.icons.scss */
@import "mixins_common.scss";

.wc_table_pag_cont .wc_ibtn {
	vertical-align: middle;
	&:before {
		content: url(../images/first.png);
		vertical-align: middle;
		display: block;
		height: 16px;
	}
	&[disabled]:before {
		content: url(../images/first-d.png);
	}
	+ .wc_ibtn {
		&:before {
			content: url(../images/previous.png);
		}
		&[disabled]:before {
			content: url(../images/previous-d.png);
		}
		+ .wc_ibtn {
			&:before {
				content: url(../images/next.png);
			}
			&[disabled]:before {
				content: url(../images/next-d.png);
			}
			+ .wc_ibtn {
				&:before {
					content: url(../images/last.png);
				}
				&[disabled]:before {
					content: url(../images/last-d.png);
				}
			}
		}
	}
}
/* end wc.ui.table.pagination.icons.scss */