/* wc.ui.panel.flowLayout.ie9.scss */


.wc-flowlayout {
	> div {
		vertical-align: text-top;
		width: auto;
	}

	&.baseline > div {
		vertical-align: baseline;
	}

	&.bottom > div {
		vertical-align: bottom;
	}

	&.center {
		text-align: center;
	}

	&.middle > div {
		vertical-align: middle;
	}

	&.vertical > div {
		display: block;
		vertical-align: inherit;
		width: initial;
	}
}
