/* wc.ui.table.ie8.scss */
@import 'vars_all.scss';

// tr required to differentiate from col
// scss-lint:disable QualifyingElement
tr.wc_table_stripe {
	background-color: $wc-ui-color-highlight-bg;
	color: $wc-ui-color-highlight-fg;
}

.wc_table_rowexp_container,
.wc_table_sel_wrapper {
	max-width: $line-size;
	width: $line-size;
}
