/* wc.ui.dialog.dt.scss */
@import 'dialog_vars';

@include respond-not-small {
	dialog {
		left: auto;
		max-width: 100%;
		min-height: $wc-ui-dialog-min-height;
		min-width: $wc-ui-dialog-min-width;
		right: auto; // chrome again
		top: auto;

		&,
		&[role="alertdialog"] {
			height: auto;
			margin: 0;
			width: auto;
		}

		> footer {
			display: block;
			line-height: 0;
			text-align: right;
		}

		> header .wc_maxcont {
			display: inline-block;
		}
	}
}

// This is only here to make iPads work with the dialogFrame animations.
@media only screen and (min-width: 1025px) {
	.wc_resizeflow { // keyboard and resize event initiated drag and resize animation
		transition-delay: $wc-ui-dialog-transition-delay;
		transition-duration: $wc-ui-dialog-transition-duration;
		transition-property: left, top, height, width;
		transition-timing-function: ease-in-out;
	}
}
