/* wc.ui.root.scss */
@import 'mixins_common.scss';

noscript p {
	@include border($width: 3px, $color: $wc-ui-color-error-fg);
	background-color: $wc-ui-color-global-bg;
	color: $wc-ui-color-global-fg;
	font-size: 2em;
	font-weight: bold;
	margin: 1em;
	padding: 1em;
	text-align: center;
}
