/* wc.ui.listLayout.scss */
@import 'mixins-common';

// These are a bit odd but are here to make the lists look OK across most browsers.
$list-layout-dot-spacing: 1.5rem !default;
$list-layout-ordered-spacing: 2rem !default;

.wc-listlayout {
	@include tight-box;

	&.center,
	&.right {
		list-style-position: inside;
		margin-left: 0;
	}
}

// need qualifiying element to differentiate from unordered listLayout
// scss-lint:disable QualifyingElement
ol.wc-listlayout {
	margin-left: $list-layout-ordered-spacing;

	&.wc_list_nb {
		margin-left: 0;
	}

	&.wc_ll_flat { // flat ordered lists use a pseudo-element with a counter
		counter-reset: li;
		margin-left: 0;

		> li:before {
			content: counter(li) '.';
			counter-increment: li;
			margin-right: $wc-gap-small;
		}

		&.wc_list_nb > li:before { // remove the counter if the separator is none
			content: '';
		}
	}
}

.wc_ll_bar,
.wc_ll_flat {
	list-style-type: none;
}

.wc_ll_bar { // bar bullets
	> li {
		> * {
			display: inline-block; // otherwise the marker wraps
			vertical-align: middle;
			width: calc(100% - #{$wc-gap-normal} - 0.5em);
		}

		&:before {
			content: '|';
			display: inline-block;
			margin-right: $wc-gap-normal;
			text-align: right;
			width: 0.5em;
		}
	}

	&.wc_ll_flat > li {
		&:before {
			display: inline;
		}

		&:first-child:before {
			content: '';
		}
	}
}

.wc_ll_dot { // 'normal' bullets
	margin-left: $list-layout-dot-spacing;

	&.wc_ll_flat,
	&.right {
		margin-left: 0;
	}
}

.wc_ll_flat { // horizontal list
	> li {
		display: inline-block;
		width: auto;

		> * { // this rule keeps 'block' components inline in a flat list
			display: inline-block;
			width: auto;
		}

		+ li { // This is a bit of a weird default non-zero space. Should it be here at all?
			margin-left: $wc-gap-normal;
		}
	}
}
