/* wc.ui.text.scss */
//WStyledText - not WText
@import 'mixins_common.scss';

.highPriority { //strong element
	@include outline($color: $wc_ui_color_errorForeground, $style: double, $width: 3px);
	background-color: $wc_ui_color_errorBackground;
	color: $wc_ui_color_errorForeground;
	padding: 0 $hgap_small;
}

.mediumPriority { //em element
	@include outline($color: $wc_ui_color_warningForeground);
	background-color: $wc_ui_color_globalBackground;
	color: $wc_ui_color_warningForeground;
	padding: 0 $hgap_small;
}

.mandatoryIndicator:after {
	@include mandatoryIndicator;
	margin-left: $hgap_small;
}
/* end wc.ui.text.scss */
