/* wc.ui.imageEdit.scss */
@import 'mixins_common.scss';

.wc_img_editor {
	background-color: $wc-ui-color-global-bg;

	.wc_img_canvas,
	.wc_img_cap,
	.wc_img_editpane {
		@include border;
	}

	.wc_img_nocap,
	.wc_img_cap.cantplay {
		display: none;
	}

	.wc_img_nocap.cantplay {
		display: block;
	}

	&.nocap .wc_img_cap {
		display: none;
	}

	button {
		@include button;
		@include background-image('../images/up.png', $height: 1em, $width: 1em);

		margin: 0 $hgap-small;
		// min-width: 4em;

		&:first-of-type {
			margin-left: 0;
		}

		&:last-of-type {
			margin-right: 0;
		}

		&.up,
		&.down {
			display: block;
		}

		&.up {
			margin: 0 auto $hgap-small;
		}

		&.down {
			background-image: url('../images/down.png');
			margin: $hgap-small auto 0;
		}

		&.left {
			background-image: url('../images/previous.png');
		}

		&.right {
			background-image: url('../images/next.png');
		}

		&.in {
			background-image: url('../images/zoom-in.png');
		}

		&.out {
			background-image: url('../images/zoom-out.png');
		}

		&.anticlock {
			background-image: url('../images/arrow-rotate-anticlockwise.png');
		}

		&.clock {
			background-image: url('../images/arrow-rotate-clockwise.png');
		}

		&.anticlock90 {
			background-image: url('../images/rotate-left.png');
		}

		&.clock90 {
			background-image: url('../images/rotate-right.png');
		}

		&.snap {
			background-image: url('../images/camera-add.png');
			display: block;
			margin: $hgap-small auto 0;
		}

		&.reset {
			background-image: url('../images/undo.png');
		}

		&.cancel {
			background-image: url('../images/delete.png');
		}

		&.save {
			background-image: url('../images/save.png');
		}
	}

	.wc_img_controls {
		> div,
		> fieldset {
			margin: $hgap-normal $hgap-small;
			text-align: center;
		}

		> :first-child {
			margin-top: 0;
		}

	}

	input[type='range'] {
		margin-left: $hgap-small;
		vertical-align: middle;
	}
}

@include respond(phonelike) {
	.wc_img_editor {
		.row > div {
			text-align: center;
		}

		.wc_img_controls {
			@include flex($wrap: wrap, $align-content: space-between);

			> div,
			> fieldset {
				margin: $hgap-small;

				&:first-child {
					margin-left: 0;
				}

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}
