/* wc.ui.table.pagination.scss */
@import 'mixins-common';

.wc_table_pag_cont {
	> span,
	> label {
		margin-left: $wc-gap-large;
		white-space: nowrap;

		&:first-child {
			margin-left: 0;
		}
	}

	label > select {
		margin-left: $wc-gap-small;
	}
}

// This rule applies when the pagination controls are at the bottom of the table.
.wc_table_bottom_controls > .wc_table_pag_cont {
	text-align: right;
}

@include respond-phonelike {
	.wc_table_pag_cont {
		> span,
		> label {
			text-align: right;
		}

		> span {
			display: block;
		}

		.wc_table_pag_rows {
			margin-bottom: $wc-gap-small;
		}

		.wc_table_pag_btns {
			margin-top: $wc-gap-small;
		}

		.wc_table_top_controls > & {
			display: none;
		}
	}
}
