@import 'mixins_common.scss';

//generic menu structure
$wc-ui-menu-item-pad-topbottom: $vgap-normal;

//generic menu colours
$wc-ui-color-menu-bg: $std-color-tertiary;
$wc-ui-color-menu-fg: $wc-ui-color-global-fg;
//NOTE: hover and focus effects use the global invite colours.

//menu type BAR and FLYOUT structure
//padding of items
$wc-ui-menu-bar-column-item-pad: $wc-ui-menu-item-pad-topbottom;
//FLYOUT menu top level items
$wc-ui-menu-flyout-top-level-item-pad: $hgap-small;
//padding of WSeparator at the top level of a BAR or FLYOUT menu (orientation='vertical')
$wc-ui-menu-bar-vseparator-pad: $vgap-normal 0;
$wc-ui-menu-flyout-vseparator-pad: $hgap-small 0;
//the gap bewtten the text label of a sub menu and its 'opener' image
$wc-ui-menu-bar-column-opener-indicator-before-after: $hgap-small;

//type TREE
$wc-ui-menu-tree-indent: 1em;
$wc-ui-menu-tree-item-pad: $hgap-small $vgap-normal;
$wc-ui-menu-tree-icon-size: 1em;
