/* wc.ui.dialog.ie10.scss */
//scss-lint:disable VendorPrefix
dialog {
	&[open] {
		display: -ms-flexbox;
		-ms-flex-align: start;
		-ms-flex-direction: column;
		-ms-flex-pack: justify;
		-ms-flex-wrap: nowrap;
	}

	> [aria-live] {
		-ms-flex: 1 1 auto;
	}

	> header,
	> footer {
		-ms-flex: 0 0 auto;
	}

	> header {
		display: -ms-flexbox;
		-ms-flex-align: center;
		-ms-flex-direction: row-reverse;
		-ms-flex-pack: justify;
		-ms-flex-wrap: nowrap;

		> h1 {
			-ms-flex: 1 1 auto;
		}

		> span {
			-ms-flex: 0 1 auto;
		}
	}
}
