/* wc.ui.legend.scss */
@import 'mixins-common';

legend {
	font-weight: bold;

	.wc_noborder > & {
		padding-left: 0;
	}

	@if ($wc-label-mandatory-indicator != 0) {
		.wc_req > &:before {
			@include mandatory-indicator;
			float: right;
			width: 0; // allow for wrapping legends.
		}
	}
}
