/* wc.ui.panel.box.scss */
// type BOX:
// 'A box panel has a border.' therefore has a pad to remove the content from the border.
@import 'mixins_common.scss';

.box {
	@include border;
	padding: $hgap-normal;
}
