/* wc.ui.table.rowSelection.scss */
@import 'wc.ui.table.rowSelection_vars.scss';
@import 'wc.ui.menu_vars.scss';

// only want to style aria-selected rows, nothing else
tr[aria-selected] {
	&:hover,
	&:focus {
		@include row-invite;
		cursor: pointer;
	}

	> .wc_table_sel_wrapper {
		&:before {
			@include wc-icon($fa-var-circle-o);
			text-align: left;
			width: 1em;
		}
   }
}

.wc_table_sel_wrapper {
	tr[aria-selected='true'] > &:before {
		content: $fa-var-dot-circle-o;
	}

	[role='menubar'] {
		button {
			margin-left: 0; // override .wc_seltog style.
		}

		.wc-submenu > button { // the is the submenu opener emulator for the sub-row toggle control
			@include button($background: $wc-ui-color-menu-bg, $height: -1, $padding: 0, $width: 1em, $reset-height: -1, $reset-width: -1);
			height: calc(1em - 2px);
			position: relative;
			top: 2px;

			&::after {
				margin-left: 0; // remove submenu opener indicator margin
				vertical-align: top;
				width: 1em;
			}
		}
	}
}

[aria-multiselectable='true'] > tbody {
	> tr {
		&[aria-selected]  > .wc_table_sel_wrapper:before {
			content: $fa-var-square-o;
		}

		&[aria-selected='true']  > .wc_table_sel_wrapper:before {
			content: $fa-var-check-square-o;
		}
	}
}

.wc_table_col_hasmenu {
	// text-align: right;
	width: ($line-size * 2);
}
