/* wc.ui.dateField.ios.scss */
//scss-lint:disable IdSelector
#wc-calendar thead button { // TODO: I don't think we need this any more
	background-image: none;
	border-radius: 0;
	vertical-align: middle;
	width: 22px;
}
/* end wc.ui.dateField.ios.scss */
