/* wc.ui.table.rowExpansion.icons.scss */
@import 'mixins_common.scss';

// ROW EXPANSION iconography and expand/collapse all iconography.
// .wc_table_rowexp_container is the expandable row's expander holding cell or header

tr[role='row'] {
	> td[role='button'] {
		@include button($border: 0, $padding: 0);
		@include background-image('../images/next.png', $height: 1em, $width: 1em);

		&[aria-disabled='true'] {
			background-image: url('../images/next-d.png');
		}

		&[aria-pressed='true'] {
			background-image: url('../images/down.png');

			&[aria-disabled='true'] {
				background-image: url('../images/down-d.png');
			}
		}
	}

	&[aria-expanded='true'] {
		> td[role='button'] {
			background-image: url('../images/down.png');
		}

		&[aria-disabled='true']> td[role='button'] {
			background-image: url('../images/down-d.png');
		}
	}
}
