/* wc.ui.comboIcons.scss */
@import 'mixins-common';

input[role='combobox'] { // not the combo wrapper of datefield.
	background-image: url('../images/down.png');
	background-position: 98% 50%;
	background-repeat: no-repeat;

	&[disabled] {
		background-image: none;
	}
}
