/* wc.ui.messagesBoxIcons.scss */
@import 'messageBox_vars';

h1:before {
	.wc_msgbox > & {
		@include wc-icon-fw($fa-var-minus-circle, $width: 1.25rem); // default error box
		vertical-align: middle;
	}

	.wc-messagebox-type-warn  > & {
		content: $fa-var-exclamation-triangle;
	}

	.wc-messagebox-type-info  > & {
		content: $fa-var-info-circle;
	}

	.wc-messagebox-type-success > & {
		content: $fa-var-check-circle;
	}
}
