/* wc.ui.table.rowSelection.pattern_ff.scss */
.wc_table_sel_wrapper {
	[role='menubar'] .wc-submenu > button {
		top: 6px;

		&::after {
			background-position: 50% 0;
			vertical-align: top;
		}
	}
}
