/* wc.ui.heading.scss */
// This file is purposely left as a stub for easy over-ride.
// This is why this file has colors in it.
@import 'mixins-common';

@if ($wc-ui-color-heading != -1) {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $wc-ui-color-heading;
	}
}

h1,
h2,
h3,
h4 {
	font-weight: normal;
}


@if ($wc-heading-h1-font-size != -1) {
	h1 {
		font-size: $wc-heading-h1-font-size;
	}
}

@if ($wc-heading-h2-font-size != -1) {
	h2 {
		font-size: $wc-heading-h2-font-size;
	}
}

@if ($wc-heading-h3-font-size != -1) {
	h3 {
		font-size: $wc-heading-h3-font-size;
	}
}

@if ($wc-heading-h4-font-size != -1) {
	h4 {
		font-size: $wc-heading-h4-font-size;
	}
}

@if ($wc-heading-h5-font-size != -1) {
	h5 {
		font-size: $wc-heading-h5-font-size;
	}
}

@if ($wc-heading-h6-font-size != -1) {
	h6 {
		font-size: $wc-heading-h6-font-size;
	}
}
