/* wc.ui.media.player.scss */
// styles for WAudio and WVideo when the media is not able to be handled by the user agent natively. */
@import 'mixins-common';

.wc-src,
.wc-track {
	display: inline-block;

	+ & {
		margin-left: $wc-gap-normal;
	}
}

video ~ .wc_av_play {
	display: block;
}
