@import 'wc.ui.table_vars.scss';
@import 'mixins_common.scss';

$row-disable-opacity: 0.33;

@mixin row-invite {
	background-color: $wc-ui-color-invite-bg;
	// make the nackground-color rgba for real browsers.
	// scss-lint:disable DuplicateProperty
	background-color: $wc-ui-color-invite-bg-rgba;
}
