/* wc.ui.backToTop.scss */
@import 'mixins-common.scss';

/// The back to top of page link.
.wc_btt {
	bottom: 1em;
	opacity: 0.5;
	position: fixed;
	right: 1em;
	text-decoration: none;

	&:before {
		@include wc-icon($fa-var-chevron-circle-up);
		display: block;
		font-size: 1.5em;
		line-height: inherit;
		text-align: center;
		vertical-align: middle;
	}

	> span {
		@include offscreen();
	}
}
