/* wc.ui.section.color.scss */
@import 'mixins-common';

@if ($wc-ui-color-section-heading-bg != -1) {
	.wc-section > .wc-decoratedlabel {
		background-color: $wc-ui-color-section-heading-bg;
		color: $wc-ui-color-section-heading-fg;

		h1,
		// color links, link-like buttons and 'buttonless' buttons to make them visible.
		.wc-nobutton,
		.wc-linkbutton,
		a,
		a:visited {
			color: $wc-ui-color-section-heading-fg;
		}

		.wc-nobutton[disabled],
		.wc-linkbutton[disabled],
		a[aria-disabled='true'] {
			color: $wc-ui-color-section-heading-fg-disabled;
		}
	}
}
