/* wc.ui.checkableSelect.scss */
// CSS for WCheckBoxSelect and WRadioButtonSelect
@import 'mixins-common';

	// For flat layouts we do not control the wrap point so we use a right margin because it stops the odd left margin effect
	// on wrap. The inline block display is to keep the input with its label at wrap points.
.wc_chkgrp > .flat {
	> span,
	> li {
		display: inline-block;
		margin-right: $wc-gap-normal;
	}

	> :last-of-type {
		margin-right: 0;
	}
}

.wc_chkgrp_bdr {
	&,
	&.wc_noborder {
		@include padded-box(1px);
	}
}
