/* wc.ui.table.rowExpansion.scss */
@import 'mixins-common';
@import 'wc.ui.table_vars';

.wc-rowexpansion {
	&[role='radiogroup'] {
		@include tight-box;
		list-style-type: none;

		@include respond(small) {
			text-align: left;
		}
	}

	> li {
		display: inline-block;
		width: auto;

		+ li {
			margin-left: $hgap-small;
		}

	}
}

.wc-row-indent {
	display: inline-block;
	width: $table-hierarchic-indent;
}
