/* wc.ui.panel.borderLayout.scss */
@import 'panel_vars';

.wc_bl_mid {
	@include flex($justify: space-between);
	// NOTE: the justification should be moot but keep it here
}

.wc-center,
.wc-east,
.wc-west {
	@include border-box;
	@include flex-grow(1);
	@include flex-shrink(1);

	&:first-child:last-child {
		width: 100%;
	}
}

.wc-center {
	min-width: 50%;

	&:first-child,
	&:last-child {
		width: 75%;
	}
}

.wc-east,
.wc-west {
	@include min-content;
}

.wc-east {
	@include flex-justify-content(flex-end);
	text-align: right; // TODO really?
}
