/* wc.ui.multiFormComponent.scss */
// WMultiTextField and WMultiDropdown
@import 'mixins-common';

.wc_mfc {
	white-space: nowrap;

	button {
		margin-left: $wc-gap-small;
	}

	input,
	select {
		max-width: calc(100% - 2em);
	}

	ul {
		&.error,
		&.warn,
		&.info,
		&.success {
			white-space: normal;
		}
	}

	li + li {
		margin-top: $wc-gap-small;
	}
}
