// #############################################################################
// DISABLED CONTROLS
// #############################################################################
// Style disabled controls. This allows similar styling of elements which are
// able to be disabled using the disabled attribute and those which require
// aria-disabled.
//
// We do not set disabled background here. This is due to the overwheening
// complexities of overrides and the unfortunate effect of setting
// background-color on elements which have appearance: button.
@mixin aria-disabled {
	// NOTE for your own sanity do not set background-color here!
	color: $wc-clr-disabled-fg;
	// important to reset menu button etc rules which are VERY specific
	// scss-lint:disable ImportantRule
	cursor: default !important;
	outline: none !important;
	text-decoration: none !important;
	// scss-lint:enable ImportantRule
}
