// #############################################################################
// GENERIC BUTTONS
// #############################################################################
// If this is set to 1 then _all_ buttons will inherit font metrics. You may
// find this useful in getting cross-browser and cross-platform consistency but
// it _may_ make your buttons ugly if you are a hard-core OS X user. We
// recommend leaving this at 1 - it will save you some grief.
$wc-button-rationalise-text-styles: 1 !default;
// Set to 1 top turn on "invite" styles for all buttons. If you do this you
// _will_ want to set borders and default backgrounds because this will add
// hover/focus backgrounds (with the corrollary effect on button borders).
$wc-button-use-invite: 0 !default;
// #############################################################################
// BUTTON STYLE CLASSES
// #############################################################################
// Add some simple button style helper classes to the output CSS.
// Set this to 1 to include the helpers, any other value to not include them and
// save your CSS a few bytes.
$wc-button-include-helper-classes: 1 !default;

// #############################################################################
// WToggleButton
// #############################################################################
$wc-togglebutton-width: 2 * $wc-icon-normal !default;
// The transition when a toggle button is de/selected. Set to the single value
// -1 to not use transitions.
$wc-togglebutton-transition: all .4s ease !default;
// The toggle button transition. Ignored if $wc-togglebutton-transition == -1
$wc-togglebutton-transition-slider: left .3s cubic-bezier(.175, .885, .32, 1.275), padding .3s ease, margin .3s ease !default;
