// buttons and toggles
@import 'button';
// #############################################################################
// GENERIC FORM INPUT CONTROLS
// #############################################################################
// Text-like inputs and textareas.
// The padding to be applied (only used if $wc-clr-border-form-control is a
// colour; not if it is -1). Changing this may have flow-on effects but I have
// tried to ensure all necessary styles are calculated allowing for the vaue of
// this option.
$wc-input-padding: 1px !default;
//
// left and right padding of the combo button. Needed to calc the max-width for
// use when WField.setInputWidth(int) is used.
$wc-combo-button-padding-lr: $wc-gap-small !default;

// #############################################################################
// LEGENDS
// #############################################################################
// The legend font weight. Set to -1 to disable the rule.
$wc-legend-weight: bold !default;

// #############################################################################
// WLabel
// #############################################################################
// The font weight of a label. bold, normal, whatever.
$wc-label-weight: bold !default;
// The mandatory indicator character. If this is set to -1 then no visible
// mandatory field indicator will be shown. This may defeat the purpose of
// WStyledText.Type.MANDATORY_INDICATOR
$wc-label-mandatory-indicator: '*' !default;
// The font-size of the label hint. Set to 0 or less to use the same size as the
// label.
$wc-label-hint-size: 82.5% !default;

// #############################################################################
// WDropdown
// #############################################################################
// The list of optionWidth settings to honour. This is used to limit the max
// width of a select element.
// * If the single value -1 then all option widths from 1 $wc-dd-optionwidth-max
// will be used at the cost of **much** more CSS.
// * If set to the single value 0 then the list is ignored. Widths which are
//   multiples of 5 from 5 to $wc-dd-optionwidth-max can still be used if
//  `$wc-dd-optwidth-include-fives` == 1.
// * Otherwise label widths which are in this list will be honoured. Do not
//   duplicate 5x in this list if `$wc-fld-widths-include-fives` == 1.
$wc-dd-optwidth-list: -1 !default;
// maximum supported optionWdith. 36 chosen for pretty bad reasons!
$wc-dd-optwidth-max: 36 !default;
// if 1 and $wc-dd-optwidth-list != -1 then include multiples of 5 from 5 to
// the nearest multiple of 5 <= $wc-dd-optwidth-max
$wc-dd-optwidth-include-fives: 0 !default;
