// #############################################################################
// ICON SIZES
// #############################################################################
// Some fixed sizes for iconography place holders
$wc-icon-small: 0.75rem !default;
$wc-icon-normal: 1rem !default;
$wc-icon-wider: 1.25rem !default;
$wc-icon-large: 2rem !default;
