// PanelType.FEATURE
// Padding: set to 0 to not have any.
$wc-panel-feature-padding: $wc-gap-normal !default;

// PanelType.FOOTER
// Padding: set to 0 to not have any.
$wc-panel-footer-padding: $wc-gap-normal !default;

// PanelType.HEADER
// Padding: set to 0 to not have any.
$wc-panel-header-padding: $wc-gap-normal !default;
