// #############################################################################
// RESPONSIVE DESIGN OPTIONS
// #############################################################################
// These flags are used to turn on/off inbuilt responsive design CSS. There are
// a few reasons why you might turn off the default responsive design:
// 1. you have a better roll-your-own option;
// 2. you have an intranet (or other limited use) app which does not need it;
// 3. you have mobile users but hate them; or
// 4. I can't think of another one but there must be something.
// Turn on/off inbuilt responsive CSS set to anything other than true to turn
// ALL inbuilt responsive CSS off. This will make your built CSS MUCH smaller.
$wc-use-respond: true !default;
// Some components have a LOT of inbuilt responsive CSS so you may want to
// disable the in-built responsive CSS for those without disabling all of the
// responsive CSS. All of these are ignored if $wc-use-respond != true.
//
// Intra- and inter- component spacing
// If this is set to true then all horizontal gaps using wc-hgap-* wc-vgap-* and
// mc-margin-* will be reduced to the sizes which follow this var in narrow
// viewports. You probably don't want to disable this if your gaps are r/em
// based and you are changing the font size unless you are putting in your own
// more carefully crafted spacing constraints.
$wc-respond-reduce-gap-when-narrow: true !default;
// WTable: set to true to use the inbuilt responsive design. This is
$wc-use-respond-table: true !default;
// WDialog: set to true to allow inbuilt responsive design (full screen on small
// viewports).
$wc-use-respond-dialog: true !default;
// #############################################################################

// #############################################################################
// Gap sizes for narrow viewports.
// ignored if $wc-use-respond != true or
// $wc-respond-reduce-gap-when-narrow != true.
$wc-phone-gap-small: $wc-gap-small / 2 !default;
$wc-phone-gap-normal: $wc-gap-normal / 2 !default;
$wc-phone-gap-large: $wc-gap-large / 2 !default;
$wc-phone-gap-xl: $wc-gap-xl / 2 !default;

// #############################################################################
// WDateField
// #############################################################################
// mobile calendar picker - used only to make touch easier.
$wc-datefield-font-larger: 1.5rem !default;
// #############################################################################
// WMenu
// #############################################################################
// mobile menus - used only to make the menu items bigger for easier touch use.
$wc-menu-font-larger: 1.5rem !default;
// #############################################################################
