// #############################################################################
// Sections
// WSection, WMessageBox. WPanel Types ACTION and CHROME
// #############################################################################
// Turn on borders on all section elements. Set to any value other than 1 to
// disable section borders. Do this is you want different borders for each type
// of section.
$wc-section-use-border: 1;
// the space between the section box and its content. This is reversed to "dock"
// a menu. Must be > 0 to have any effect.
// You probably want to set this to 0 if $wc-section-use-border != 1.
$wc-section-space-normal: $wc-gap-normal !default;
// the padding around the title in the header. Must be > 0 to have any effect.
$wc-section-space-header: $wc-section-space-normal !default;
// the space between the section box and its content on small viewports. This is
// reversed to "dock" a menu. Not applied if $wc-use-respond != 1 or
// $wc-gap-reduce-when-narrow != 1.
$wc-section-space-reduced: $wc-phone-gap-normal !default;
// The space around section headers on narrow viewports. Not applied if
// $wc-use-respond != 1 or $wc-section-space-header <= 0 or
// $wc-section-space-normal <= 0 or $wc-gap-reduce-when-narrow != 1.
$wc-section-space-header-reduced: $wc-section-space-reduced !default;
