// #############################################################################
// Import/define all common and overrideable variables.
// #############################################################################

// #############################################################################
// Z-INDEX SETTINGS
// #############################################################################
// We have a number of transient elements which have a z-index (eg the calendar
// in WPartialDateField's output widget). Many of these require the z-index to
// be _below_ the modal shim z-index but then have an override to make them
// _above_ the dialog z-index if they are in a dialog. The z-index common is the
// lowest z-index we should ever apply to a normal transient artefact. This
// _could_ be 1 and _must_ be at least 2 less than z-index-modal-shim as we need
// transient elements to be below the modal shim. I recommend this be greater
// than 1 just in case an application needs a local over-ride due to unusual
// design or theme overrides.
$wc-z-index-common: 5;
// z-index of the modal shim. Every z-index should be below this except dialogs
// and transient elements with a z-index when they are found in a dialog.
$wc-z-index-modal-shim: $wc-z-index-common + 10;
// z-index of the dialog element. It must be above z-index-modal-shim.
$wc-z-index-dialog: $wc-z-index-modal-shim + 1;
// The z-index common to most components in a dialog
$wc-z-index-common-in-dialog: $wc-z-index-common + $wc-z-index-dialog;
// The unloading shim must be over everything including things in dialogs.
$wc-z-index-unloading-shim: $wc-z-index-common-in-dialog + 5;
// Finally we have the message on the unloading shim and timeout warnings
$wc-z-index-unloading-message: $wc-z-index-unloading-shim + 1;

// #############################################################################
// Path from generated root CSS to to image files
$wc-img-path: '../images/';

// #############################################################################
// Used by themes to override WComponents defaults. Must always be imported
// first.
@import '../theme-vars';
// #############################################################################


// #############################################################################
// Import library vars
@import '../lib/fa/variables';
// #############################################################################
// ICON SIZES
// Some fixed sizes for iconography place holders
// #############################################################################
$wc-icon-size: 1rem !default;
// #############################################################################
// INPUT PADDING
// input pad and border are important for cross-browser and
// cross-window-manager-theme consistency.
// #############################################################################
$wc-input-padding: 1px !default;
// #############################################################################
@import 'space';
@import 'section';
@import 'style';
@import 'respond';

// #############################################################################
@import 'wfieldlayout';
