<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="MyWebApp_ID">
    <display-name>My WebApp</display-name>

    <!-- Your extension of WServlet -->
    <servlet>
        <servlet-name>myAppServlet</servlet-name>
        <servlet-class>${package}.servlet.MyAppServlet</servlet-class>
    </servlet>

    <!-- Your servlet's mapping -->
    <servlet-mapping>
        <servlet-name>myAppServlet</servlet-name>
        <url-pattern>/app</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>myAppServlet</servlet-name>
        <url-pattern>/app/*</url-pattern>
    </servlet-mapping>
</web-app>