/* wc.common.buttons.safari.scss */

// WHY DOES THIS EXIST?
// Safari has an interesting quirk when it comes to buttons: the native button style varies depending on what the button
// contains - especially with respect to borders on pseudo-elements.  This removes these quirks and makes the buttons
// more "button-y". Get rid of it if you wish. I keep flipping on its merits.
/*@import "vars_all.scss";

button {
	background-image: url(../images/wc.ui.button.bg.svg);
	background-size: cover;
	border: 1px outset $wc_ui_color_border;
	border-radius: 3px;
	padding: 3px 6px;
	&:hover, &:focus, &:active {
		background-image: url(../images/wc.ui.button.bg.a.svg);
	}
	&[disabled] {
		background-image: url(../images/wc.ui.button.bg.d.svg);
	}
}*/
/* end wc.common.buttons.safari.scss */