/* wc.common.form.ios.css */
input,
textarea,
select{
	border-color:#007aff;
	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica-Neue, Helvetica, 'BBAlpha Sans', arial, sans-serif;
	font-size:17px
}

input{
	height:22px
}

input[type="checkbox"],
input[type="radio"]{
	border:0 none;
	height:auto
}
/* end wc.common.form.ios.css */