/**
 * wc.dom.html5.reset.css
 * HTML 5 elements default styles.
 * DETAILS is in wc.ui.collapsible*.css
 * SUMMARY is in wc.ui.collapsible*.css
 * PROGRESS is in wc.ui.progressBar*.css
 */

aside,
section,
header,
footer,
figure,
figcaption,
nav,
dialog{
	display:block;
	padding:0;
	margin:0
}
/* end wc.dom.html5.reset.css */