/* wc.ui.selectboxSearch.scss
  Select box typeahead
*/
@import "vars_all.scss";

.wc_selsch {
	background-color: $wc_ui_color_highlight_bg;
	color: $wc_ui_color_highlight_fg;
	display: block;
	margin-top: -1.25em;
	padding: 0 $hgap_small;
	position: absolute;
	&.wc_selsch_notfound {
		color: $wc_ui_color_errorForeground;
	}
}
/* end wc.ui.selectboxSearch.scss */