/* wc.ui.figure.scss */
@import "mixins_common.scss";

figure {
	//text-align: center;
	@include flex($direction: column, $align-content: center);
}
figure .content {
	text-align:center;
}

figcaption {
	text-align: center;
	font-style: italic;
}