/* wc.ui.menu.tree.icon.ie8.scss */

[role="treeitem"][aria-expanded] > button .decoratedLabel::before {
	display: none;
}

[role="treeitem"][aria-expanded] > button {
	background-image: url(../images/wc.ui.menu.tree.open.ie8.png);
	background-position: 0 50%;
	background-repeat: no-repeat;
	padding-left: 15px;
	&[disabled] {
		background-image: url(../images/wc.ui.menu.tree.open.d.ie8.png)
	}
}


[role="treeitem"][aria-expanded="true"] > button {
	background-image: url(../images/wc.ui.menu.tree.close.ie8.png);
	&[disabled] {
		background-image: url(../images/wc.ui.menu.tree.close.d.ie8.png)
	}
}
/* END wc.ui.menu.tree.icon.ie8.scss */