/* wc.ui.menu.barColumn.icon.ie8.css */
[role="menubar"] > [aria-expanded] > button > .decoratedLabel{
	display:table;
	padding-right:12px;
	box-sizing:border-box;
	background-image:url(../images/wc.ui.menu.bar.open.ie8.png);
	background-position:100% 50%;
	background-repeat:no-repeat
}

[role="menubar"] > [aria-expanded] > button[disabled] .decoratedLabel{
	background-image:url(../images/wc.ui.menu.bar.open.d.ie8.png)
}

[role="menu"] [aria-expanded] > button > .decoratedLabel{
	display:table;/* table-row does not allow it to be sized to 100% in ie8 */
	padding-right:6px;
	box-sizing:border-box;
	background-image:url(../images/wc.ui.menu.column.open.ie8.png);
	background-position:100% 50%;
	background-repeat:no-repeat
}

[role="menu"] [aria-expanded] > button[disabled] .decoratedLabel{
	background-image:url(../images/wc.ui.menu.column.open.d.ie8.png)
}
/* end wc.ui.menu.barColumn.icon.ie8.css */