/* wc.ui.text.scss
 * ui:text is WStyledText and is used to set an enumerated set of
 * styles on html span elements each class is the type attribute
 * of the ui:text element*/

/* high, medium and low priority:
 * use of an image is not ideal but is more accessible than using a foreground color change */
@import "mixins_common.scss";

.highPriority:after,
.mediumPriority:after,
.lowPriority:after {
	margin-left: $hgap_small;
}
/* use CSS3 pseudo-element selector to omit IE8 */
.highPriority::after {
	content: url(../images/wc.ui.text.high.svg);
}
.mediumPriority::after {
	content: url(../images/wc.ui.text.medium.svg);
}
.lowPriority::after {
	content: url(../images/wc.ui.text.low.svg);
}

.mandatoryIndicator:after {
	@include mandatoryIndicator;
	margin-left: $hgap_small;
}
/* end wc.ui.text.scss */