<button class="wc-menuitem wc_closesubmenu wc-nobutton wc-invite" role="menuitem" type="button">
	<span class="wc-decoratedlabel">
		<span class="fa fa-caret-left wc_dlbl_seg" aria-hidden="true"></span>
		{{#labelhead}}
		<span class="wc-labelhead wc_dlbl_seg">{{{.}}}</span>
		{{/labelhead}}
		<span class="wc-labelbody wc_dlbl_seg">{{{content}}}</span>
		{{#labeltail}}
		<span class="wc-labeltail wc_dlbl_seg">{{{.}}}</span>
		{{/labeltail}}
	</span>
</button>
