<button class="wc-menuitem wc_closesubmenu wc-nobutton wc-icon wc-invite" role="menuitem" type="button">
	<span class="wc-decoratedlabel">
		{{#labelhead}}
		<span class="wc-labelhead wc_dlbl_seg">{{{.}}}</span>
		{{/labelhead}}
		<span class="wc-labelbody wc_dlbl_seg">{{{content}}}</span>
		{{#labeltail}}
		<span class="wc-labeltail wc_dlbl_seg">{{{.}}}</span>
		{{/labeltail}}
	</span>
</button>
