<section class="wc-messagebox wc-messagebox-type-warn wc-timeoutwarning" role="alert">
	<h1>
		<i aria-hidden="true" class="fa fa-window-close-o" style="float:right;"></i>
		<i aria-hidden="true" class="fa fa-exclamation-triangle"></i>
		<span>%s</span>
	</h1>
	<div class="wc_messages">
		<strong>%s</strong>
		<br/>
		%s
	</div>
</section>
